    <!-- extra delivery contact details, primary address -->
      <h2 class="heading-medium">Delivery contact details</h2>

    <div class="form-group" >
        <label for="phone" class="form-label-bold">Telephone number</label>
        <span class="form-hint">We'll use this number for any delivery questions or updates</span>
        <fieldset>
            <input type="tel" id="phone" class="form-control phone"  autocomplete="off" name="delivery_telephone" aria-required="true"  value="{{ telephone }}">
        </fieldset>
    </div>
    <div class="form-group ">
        <label for="email" class="form-label-bold">Email address (optional)</label>
        <span class="form-hint">We'll use this email for any delivery questions or updates</span>
        <fieldset>
        <input class="form-control" id="email" autocomplete="off" type="text"   name="delivery_email" value="{{ email }}">
        </fieldset>
    </div>

    <!-- end extra delivery contact details -->
