    <form id="find-address-form" class="" method="get" action="/your-main-address-uk-result">
        <label class="form-label-bold" for="find-postcode">Enter postcode</label>

        <input class="form-control postcode" id="find-postcode" type="text" aria-required="true"
               value=""
               name="find-postcode">
        <button class="button find-address button-secondary" type="submit" id="find-address">Find UK address</button>

        <a class="link address-manual" id="address-manual" href="/your-main-address-manual" >Enter address manually</a>
    </form>