// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you


input.number {
    text-transform: none;
    border: 1px solid #bbb;
    margin: 0 0 1em;
    padding: 0.5em;
    width: 100px;
    clear: both;
    display: block;
}


.column-two-thirds {
    width: 66.66667%;
    float: left;
}


.application-option:link {
    color: black;
    text-align: center;
}

.button {
    background-color: #00823b;
    position: relative;
    display: -moz-inline-stack;
    display: inline-block;
    padding: 0.3em 0.6em 0.2em 0.6em;
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: 0 2px 0 #003618;
    -moz-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
    font-size: 1em;
    line-height: 1.25;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    cursor: pointer;
    color: #fff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 15px 15px 0;
    padding: 0.5263157895em 0.7894736842em 0.2631578947em 0.7894736842em;
    vertical-align: top;
}

.button-secondary {
  background-color: #dee0e2;
  color: #0b0c0c;
  box-shadow: 0 2px 0 #b5babe; }

.button-secondary:visited {
  background-color: #dee0e2;
  color: #0b0c0c;
  box-shadow: 0 2px 0 #b5babe; }

.button-secondary:hover, .button-secondary:focus {
  background-color: #d0d3d6;
  color: #0b0c0c;
  box-shadow: 0 2px 0 #b5babe; }


#doc_search_button {
    width: 42px;
    height: 38px;
    text-indent: -5000px;
    cursor: pointer;
    color: #fff;
    background: #0b0c0c url(/public/images/search-button.png) no-repeat 3px 50%;
    margin-left: -10px;
}


.typeahead,
.tt-query,
.tt-hint {
  width: 300px;
  height: 24px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 24px;
  border: 2px solid #ccc;
  outline: none;
  }

.typeahead {
  background-color: #fff; }



a.remove {
  color: #b10e1e !important; }

.add-doc {
  text-align: center;
  font-weight: bold; }

.add-doc a:hover {
  cursor: pointer; }

.doc-selector-doc-title {
  font-size: 16px; }

.add_text {
  font-size: 16px; }

.remove_text {
  font-size: 16px; }


.filtering {
  clear: left;
  padding: 0; }

span.selected-doc-list-doc-title {
  float: left;
  width: 100%;
  font-weight: bold; }

span.remove-doc-label {
  float: right;
  font-size: 17px;
  bottom: -7px;
  position: relative;
  right: -8px; }

label.selectDocNoJs {
  width: 100%;
  float: right; }

label.selectDocNoJs input {
  float: right;
  width: 15px;
  height: 15px; }

input.nojs-btn {
  margin: 13px 0 13px 0;
  padding: 9px 17px;
  font-size: 17px;
  line-height: 22px;
  vertical-align: middle;
  background: lightgrey;
  color: black;
  float: right;
  width: 100%; }

label.remove-doc {
  display: inline-block;
  width: 100%;
  line-height: 25px;
  vertical-align: middle; }

.remove-doc input {
  position: relative;
  bottom: -2px;
  width: 15px;
  height: 15px; }

#doc-table {
  table-layout: fixed;
  margin-bottom: 30px;
  outline: none; }
  #doc-table thead th {
    font-size: 20px; }
  #doc-table td, #doc-table th {
    width: 75%; }
  #doc-table td:last-child, #doc-table th:last-child {
    width: 25%; }
  #doc-table td:last-child, #doc-table th:last-child {
    text-align: left; }

.actions {
  width: 80px; }

.remove_link {
  color: #005ea5 !important;
  text-decoration: underline;
  background-color: white !important;
  box-shadow: none;
  font-size: 16px;
  margin: 0px !important;
  padding: 0px !important;
  display: block; }

.selected_Document {
  width: 48%;
  float: left;
  border: 2px solid #dee0e2;
  margin-left: -3px;
  background-color: white;
  padding: 7px 0 0 10px; }

#selected_document_box2 {
  width: 65%;
  float: right;
  margin-top: 20px;
  margin-right: 13px;
  padding: 6px;
  background-color: #dee0e2; }

#selected_document_box2 .container-head {
  font-weight: bold;
  padding: 6px; }


#basket-table {
  table-layout: fixed;
  border: 5px solid #dee0e2; }

#basket-table td, #basket-table th {
  table-layout: fixed;
  border-top: 2px solid #dee0e2; }

  .basket-doc-title {
  font-size: 16px; }

.container-head th {
  font-size: 19px;
  font-weight: bold;
  background-color: #dee0e2; }

#basket-table td:first-child, #basket-table th:first-child {
  width: 76%;
  padding: 10px; }

.no-js-basket td:first-child, .no-js-basket th:first-child {
  /* width: 60%!important;*/ }

#skip_check {
  padding: 0 !important;
  margin: 0 !important; }

.basket_doc_count {
  float: left;
  width: 38px !important;
  height: 25px !important; }



.document-basket {
  float: left !important;
  clear: right;
  margin: 10px 0 !important;
  padding: 0 !important; }

  @media (max-width: 640px) {
    .document-basket {
      width: 100%;
      font-size: 15px; } }
  
  @media (min-width: 641px) {
    .document-basket {
      padding: 0 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: 16px; } }
  
  @media (min-width: 641px) and (min-width: 641px) {
    .document-basket {
      float: left;
     // width: 58.3333333333%;
      } }
  
  @media (min-width: 769px) {
    .document-basket {
      padding: 0 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      font-size: inherit; } }
  
  @media (min-width: 769px) and (min-width: 641px) {
    .document-basket {
      float: left;
    //  width: 58.3333333333%; 
    } }


#find-postcode {
  padding: 4px;
  float: left; }

  @media (max-width: 640px) {
    #find-postcode {
      width: 97%;
      padding: 1%; } }

  @media (min-width: 641px) {
    #find-postcode {
      padding: 0 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 4px; } }

  @media (min-width: 641px) and (min-width: 641px) {
    #find-postcode {
      float: left;
      width: 33.3333333333%; } }

  @media (min-width: 769px) {
    #find-postcode {
      padding: 0 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 4px; } }

  @media (min-width: 769px) and (min-width: 641px) {
    #find-postcode {
      float: left;
    //  width: 25%; 
    } }



.find-address {
  float: left; }

  @media (max-width: 640px) {
    .find-address {
      margin: 10px 0 0 0;
      width: 100%; } }

  @media (min-width: 641px) {
    .find-address {
      margin: 0 0 0 10px; } }

  @media (min-width: 769px) {
    .find-address {
      margin: 0 0 0 10px; } }


a#address-manual {
  float: left;
  clear: left;
  margin-top: 7px; }


#address-list-box {
  float: left; }

#address-list-group,
#address-list-group-alt {
  height: 33px;
  margin-bottom: 15px;
  padding: 5px 0;
  clear: both; }
  @media (max-width: 640px) {
    #address-list-group,
    #address-list-group-alt {
      width: 100%; } }
  @media (min-width: 641px) {
    #address-list-group,
    #address-list-group-alt {
      padding: 0 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 5px 0; } }
  @media (min-width: 641px) and (min-width: 641px) {
    #address-list-group,
    #address-list-group-alt {
      float: left;
      width: 66.6666666667%; } }
  @media (min-width: 769px) {
    #address-list-group,
    #address-list-group-alt {
      padding: 0 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 5px 0; } }
  @media (min-width: 769px) and (min-width: 641px) {
    #address-list-group,
    #address-list-group-alt {
      float: left;
      width: 66.6666666667%; } }

  

// This generic form-control might mess stuff up....


.form-control {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.25;
  width: 100%;
  padding: 4px;
  background-color: #fff;
  border: 2px solid #6f777b;
}

@media (min-width: 641px) {
  .form-control {
    font-size: 19px;
    line-height: 1.31579;
  }
}

@media (min-width: 641px) {
  .form-control {
    width: 50%;
  }
}


b, strong {
    font-weight: 600;
}



// check answers summary table


table.summary-table {
  width: 100%;
  min-width: 400px;
  table-layout: fixed; }

  @media (max-width: 1000px) {
    table.summary-table {
      min-width: 100%; } }

table.printable-summary table.summary-table {
  width: 100%; }

.container-confirmed .heading-secondary.confirmed:first-child span {
  font-weight: bold; }

.container-confirmed .heading-secondary.confirmed:last-child {
  padding: 20px; }

.container-confirmed .heading-secondary.confirmed:last-child span {
  font-weight: bold; }

@media (max-width: 600px) {
  table.summary-table td {
    width: 100%;
    border: none;
    padding-left: 0;
    padding-right: 0;
    text-align: left !important; }
  
  table.summary-table tr {
    border-bottom: 1px solid #bfc1c3; }
  
  /* td.summary-table-cell-content {border-top: none;text-align: left; padding-right: 0;padding-left:30%!important}*/
  
  span.mobile-format {
    display: inline-block;
    text-align: left;
    width: auto;
    font-size: 14px; }
  
  table#review-document-details td#summary-docCount,
  table#review-postage td#summary-return,
  table#review-special td#summary-special,
  table#review-special td#summary-doccosts,
  table#review-special td#summary-cost,
  table#review-personal-details td#summary-name,
  table#review-personal-details td#summary-email,
  table#review-personal-details td#summary-telephone,
  table#review-address1 td#summary-address1,
  table#review-address2 td#summary-address2,
  table#review-document-details td#summary-docCount {
    text-align: center;
    padding-left: 0 !important; }
 
  table.summary-table {
    table-layout: fixed; }
 
  table.summary-table td:nth-child(1) {
    display: list-item;
    list-style: none;
    width: 90%;
    border-bottom: none; }

  table.summary-table td:nth-child(2) {
    display: list-item;
    list-style: none;
    width: 100%;
    border: none; }

  table.summary-table td:nth-child(3) {
    padding-top: 11px;
    width: auto;
    vertical-align: top;
    text-align: right !important;
    padding-right: 0; }

  table.summary-table tr:last-child {
    border-bottom: 1px solid #bfc1c3; } }

td.summary-table-cell-label {
  width: 33%;
  vertical-align: top;
  border-top: 1px solid #bfc1c3;
  font-size: 0.85em; }

td.summary-table-cell-content {
  width: 33%;
  vertical-align: top;
  border-top: 1px solid #bfc1c3;
  padding-left: 3em;
  padding-right: 0;
  font-size: 0.85em;  }

.cost-table td {
  border: none !important;
  padding-top: 0; 
  font-size: 0.85em; }


td.summary-table-cell-link {
  width: 33%;
  vertical-align: top;
  border-top: 1px solid #bfc1c3;
  text-align: right;
  padding-right: 0;
   }


.summary_change_links {
  font-size: inherit;
  font-weight: bold; 
  background: none;
  border: none;
  text-align: right;
  text-decoration: underline;
  color: #005ea5; 
  font-size: 0.8em;
  padding-top: 0; }

.summary_change_links:hover {
  cursor: pointer; }


#print-button {
  padding: 16px 20px 15px 11px;
  width: 170px;
  background-color: #dee0e2;
  border: 1px solid #dee0e2;
  display: block;
  background-position: 6%;
  text-align: right; }


.print {
    background-image: url(/public/images/icon-print.png);
    background-size: 21px 20px;
    padding-left: 27px;
    background-repeat: no-repeat;
}

// a[rel="external"]:after {
//    background-image: url(/public/images/external-link.png);
//    background-repeat: no-repeat;
// }


.inner_header .inner-header-content {
    float: right;
    padding-top: 8px;
}

.email-logout-text {
    margin-top: .75em;
    font-size: 16px;
    line-height: 1.1;
}

.email-logout-text a {
    margin-left: 10px;
}

.address-button {
    width: 80px;
    text-align: center;
}

.button-secondary {
    background-color: #dee0e2;
    color: #0b0c0c !important;
    box-shadow: 0 2px 0 #b5babe;
}

.button-delete{
background-color:#b10e1e;
color:#fff !important;
box-shadow:0 2px 0 #000;
}

.button-delete:visited{
background-color:#b10e1e;
color:#fff !important;
box-shadow:0 2px 0 #000;
}

.button-delete:hover,.button-delete:focus{
background-color:#6a0812;
color:#0b0c0c;
box-shadow:0 2px 0 #000;
}


table th, table td {
    font-family: "nta", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.25;
    font-weight: 400;
    text-transform: none;
    padding: 0.75em 1.25em 0.5625em 0;
    text-align: left;
    color: #0b0c0c;
    border-bottom: 1px solid #bfc1c3;
}



.button-get-started {
    background-image: url(../images/icon-pointer.png);
    background-position: 100% 50%;
    background-repeat: no-repeat;
}

.button-start,
.button-get-started {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  background-image: url("../images/icon-pointer.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 0.3684210526em 2.1578947368em 0.2105263158em 0.8421052632em; }
  @media (min-width: 641px) {
    .button-start,
    .button-get-started {
      font-size: 24px;
      line-height: 1.25; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    .button-start,
    .button-get-started {
      background-image: url("../images/govuk_frontend_toolkit/icons/icon-pointer-2x.png");
      background-size: 30px 19px; } }


.printOnly {
  display: none; }

@media print {
  .phase-banner {
    display: none; }
  .printer-summary-buttons {
    display: none; }
  .noPrint {
    display: none !important; }
  .printOnly {
    display: block; }
  .printable-summary {
    display: block; }
  #fco-logo {
    margin: 0px;
    height: 75px; }
  #print-header {
    height: 100px; }
  #print-header .heading-large {
    float: left;
    width: 50%;
    margin-top: 0; } }

#print-button {
  padding: 16px 20px 15px 11px;
  width: 170px;
  background-color: #dee0e2;
  border: 1px solid #dee0e2;
  display: block;
  background-position: 6%;
  text-align: right; }

#print-header {
  height: 150px;
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 10px; }

#print-header h1 {
  margin-top: 0px; }


@media (min-width: 440px) {
  #print-header .heading-large {
    float: left;
    width: 40%;
    margin-top: 25px; } }




#print-table-main {
  border-bottom: 5px solid black;
  margin-bottom: 10px; }

#print-table-main th, #print-table-main td {
  padding: 0;
  border: none; }

#print-table-main thead {
  text-align: left; }

#bold-details td {
  font-weight: bolder;
  font-size: 1.3em;
  padding-bottom: 10px; }

.print-table-secondary, .print-table-documents {
  width: 100%; }

.print-table-secondary th, .print-table-secondary td {
  padding-top: 5px !important;
  padding-left: 5px !important;
  padding-bottom: 0px !important;
  border: none;
  width: 50%;
  vertical-align: top; }

.print-table-documents th, .print-table-documents td {
  padding-top: 5px !important;
  padding-left: 5px !important;
  padding-bottom: 0px !important;
  border: none;
  width: 22%;
  vertical-align: top; }

.detail-label td {
  font-weight: bolder;
  padding-top: 10px !important; }

.table-caption {
  padding: 10px 0px;
  border-bottom: 3px solid black; }

#table-caption-doc {
  border-bottom: 3px solid black; }

#fco-logo {
  margin: 1.25em;
  float: right; }

@media (max-width: 440px) {
  /*submission successful page*/
  .heading-large.confirmed {
    margin-top: 25px; }
  /* fix fco logo / title on printable page*/
  img#fco-logo {
    margin-top: 0;
    width: 135px;
    height: auto;
    text-align: center;
    float: none;
    display: block;
    margin: 0 auto; }
  #print-header {
    margin-top: 25px; }
  #print-header .heading-large {
    width: 100%;
    text-align: center;
    margin-top: 15px; } }


#print-button:hover {
  border: 1px solid black; }

.printable-summary {
  margin-bottom: 0px;
  float: left;
  clear: left;
  margin-top: 0; }
  @media (max-width: 440px) {
    .printable-summary {
      margin-top: 20px; } }

.printable-summary .summary-table {
  width: 100%; }

.summary-print-table {
  width: 66.6%;
  float: left; }

.summary-print-table td {
  border: none; }

.summary-print-table .summary-table {
  width: 100%; }

.summary-print-table .summary-table td {
  border-top: 1px solid #BFC1C3;
  border-bottom: 1px solid #BFC1C3; }

#qrCode {
  float: left; }

#print-footer {
  width: 100%;
  margin-top: -19px; }

.printable-summary .summary-table-cell-label {
  width: 40%; }

.printable-summary .summary-table-cell-content {
  width: 60%; }

.printable-summary h2 {
  margin-top: 5px !important; }

tr.cover-sheet-email td, tr.cover-sheet-telephone td {
  padding-bottom: 5px !important; }

