{% extends "layout.html" %}

{% block page_title %}
Confirmation
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <div class="form-group" style="width: 65%;margin-top: 20px;">
        <div class="container-confirmed container">
            <h1 class="heading-large confirmed" style="margin-top: 25px"><i class="flaticon-checked21"></i>Application complete</h1>
            <h2 class="heading-secondary confirmed ">Your reference number is</h2>
            <h1 class="heading-large confirmed reference">LO12345</h1>
        </div>
    </div>


    <div class="form-group" style="padding: 10px 0 8px 0;border-bottom: 1px solid #bfc1c3;width: 65%;margin-bottom: -10px;">
        <div><i class="flaticon-new100"></i>We have sent you a confirmation email.</div>
    </div>

    <div class="form-group">
        <p style="margin-top: 30px;">If you have any questions about your application, you can <a href="#">contact us</a>.</p>
    </div>
    <div class="form-group">
        <a href="index" class="button">Finished</a>
    </div>

  </main>

{% endblock %}


