{% extends "layout.html" %}

{% block page_title %}
Document Details
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <h1 class="heading-xlarge">Document details</h1>
    <!-- <p class="text">
        Please enter the number of documents you want to legalise.
    </p> -->

    <div class="form-group">
        <form>
            <fieldset class="inline">
                <!-- <legend>Document information:</legend> -->
            <div>
                <div id="countries-list">
                    <div id="row">
                        <div class="col1">
                            <label for="otherCountriesNumber">Please enter the total number of documents you want to legalise</label>
                            <input type="number" id="otherCountriesNumber" name="otherCountriesNumber" value="7" class="number"/>
                        </div>
						<!--
                        <div class="col2">
                            <label for="otherCountries">Country name (optional)</label>
                            <div class="typeahead-container">
                                <div class="typeahead-field">
                                <span class="typeahead-query">
                                    <input type="text" id="otherCountries" name="otherCountries" value="France" autocomplete="off" class="text country-autocomplete long validate tt-query" style="position: relative; vertical-align: top; background-color: transparent;">
                                </span>
                                </div>
                            </div>
                        </div>
                        <div id="remove-control">
                            <a href id="remScnt">Remove</a>
                        </div>
                    </div>

                    <div id="row">
                        <div class="col1">
                            <label for="otherCountriesNumber">No. of documents</label>
                            <input type="number" id="otherCountriesNumber" name="otherCountriesNumber" value="1" class="number"/>
                        </div>
                        <div class="col2">
                            <label for="otherCountries">Country name (optional)</label>
                            <div class="typeahead-container">
                                <div class="typeahead-field">
                                <span class="typeahead-query">
                                    <input type="text" id="otherCountries" name="otherCountries" value="Spain" autocomplete="off" class="text country-autocomplete long validate tt-query" style="position: relative; vertical-align: top; background-color: transparent;">
                                </span>
                                </div>
                            </div>
                        </div>
                        <div id="remove-control">
                            <a href id="remScnt">Remove</a>
                        </div>
						-->
                    </div>
                </div>
                </div>
               <!--  <a href="#" id="addScnt">Add another country</a> -->

            </fieldset>
        </form>
        <!--
        <h1 id="total-row" style="font-size: 24px;line-height: 1.25;font-weight: 700;text-transform: none;margin: 1.2em 0 0.4em 0;">Total number of documents to be legalised: <span id="total">8</span></h1>
    -->
    </div>

    <div class="form-group">
        <a href="application_form_summary" class="button">Save and Return to Summary</a>
        <p><a href="application_form_summary" class="example-back-link">Cancel</a></p>
    </div>

  </main>

{% endblock %}



<script src="/public/javascripts/jquery-ui.js"></script>