{% extends "layout.html" %}

{% block page_title %}
Additional Information
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    <p><a href="application_form_postage" class="back-to-previous">Back</a></p>


    <h1 class="heading-xlarge">Additional information</h1>

		<!--
    <div class="form-group">
        <h2 class="heading-small">Special Instructions (optional)</h2>
        <span class="form-hint">Please add any extra details that are relevant to how we process your application</span>
        <textarea class="form-control" id="instructions" type="text" cols="40" rows="5"></textarea>
    </div>
	-->

    <form class="form-group">
        <fieldset class="inline">
            <legend>
            <h2 class="heading-small">Your reference (optional)</h2>
            <span class="form-hint">If you have your own internal reference number you can enter it here</span>
            </legend>
            <input class="form-control" id="customer-reference" type="text">
        </fieldset>
    </form>



    <div class="form-group">

    <h2 class="heading-small">Feedback</h2>
	<p class="text">Can we contact you for feedback to help improve this service? For more information see the <a href="#">privacy policy</a>.</p>

    <div class="form-group">
        <form>
            <fieldset class="inline">
                <label class="block-label" for="radio-feedback-yes">
                    <input id="radio-feedback-yes" type="radio" name="radio-group" value="Yes">
                    Yes
                </label>
                <label class="block-label" for="radio-feedback-no">
                    <input id="radio-feedback-no" type="radio" name="radio-group" value="No">
                    No
                </label>
            </fieldset>
        </form>
    </div>

    <div class="form-group">
        <a href="application_form_summary" class="button">Continue</a>
    </div>

  </main>

{% endblock %}


