<link href="/public/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
<link href="/public/stylesheets/jquery.typeahead.min.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="/public/fonts/flaticon.css" media="screen" rel="stylesheet" type="text/css"/>
<link href="/public/stylesheets/jquery-ui.css" media="screen" rel="stylesheet" type="text/css"/>

<!-- BootStrap -->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">-->
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">-->