{% extends "layout.html" %}

{% block page_title %}
Payment
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    <p><a href="declaration" class="back-to-previous">Back</a></p>

    <h1 class="heading-xlarge">Payment (placeholder)</h1>

        <div style="margin-bottom: 50px; width:100%">
            <img src="{{assetPath}}/images/barclaycard.png">
        </div>

        <div style="margin: 0 auto; width:100%">
            <a href="application_form_confirmation_0" class="button">Make Payment</a>
        </div>


  </main>

{% endblock %}


