<h3 class="heading-medium">Affidavit</h3>
<p>    Your Affidavit can only be legalised if it has been certified.</p>

<p>We accept the following documents, please select your preferred option:</p>

<form>
    <fieldset>
        <div class="form-group form-group-compound">
            <label class="block-label"  for="radio-indent-1">
                <input id="radio-indent-1" type="radio" name="radio-indent-group">
                Your original affidavit certified or witnessed by solicitor for the purpose of legalisation
            </label>
            <label class="block-label"  for="radio-indent-2">
                <input id="radio-indent-2" type="radio" name="radio-indent-group">
                A certified photocopy of your affidavit
            </label>
        </div>
    </fieldset>
</form>