<h3 class="heading-medium">Articles of association</h3>
Your articles of association can only be legalised if it has been either:</p>

<ul>
    <li>signed by an official from the issuing authority</li>
    <li>certified</li>
</ul>

<p>We accept the following documents, please select your preferred option:</p>

<form>
    <fieldset>
        <div class="form-group form-group-compound">
            <label class="block-label"  for="radio-indent-1">
                <input id="radio-indent-1" type="radio" name="radio-indent-group">
                Your original articles of association not signed by an official from Companies House
            </label>
            <label class="block-label"  for="radio-indent-2">
                <input id="radio-indent-2" type="radio" name="radio-indent-group">
                A certified photocopy of your articles of association
            </label>
        </div>
    </fieldset>
</form>