<h3 class="heading-medium">Baptism certificate</h3>
<p>Your baptism certificate can only be legalised if it has been certified. It must be dated and signed by public official</p>

<p>We accept the following documents, please select your preferred option:</p>

<form>
    <fieldset>
        <div class="form-group form-group-compound">
            <label class="block-label"  for="radio-indent-1">
                <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Business">
                Your original certified baptism certificate
            </label>
            <label class="block-label"  for="radio-indent-2">
                <input id="radio-indent-2" type="radio" name="radio-indent-group" value="Business Premium">
                A certified photocopy of your baptism certificate
            </label>
        </div>
    </fieldset>
</form>