<h3 class="heading-medium">Death certificate</h3>
<p>Your death certificate can be legalised if it is either:</p>

<ul>
    <li>an official certified copy of the certificate issued by the General Register Office (GRO) with the original seal</li>
    <li>an original certificate (or original certified copy) issued by a local register office, with the original signature of the official who issued the certificate</li>
</ul>

<p>It can take longer to legalise a signature on an original certificate, especially if it was issued before 1991.</p>

<p>It might be quicker to order a certified copy of your certificate from the:</p>

<ul>
    <li><a rel="external" href="https://www.gro.gov.uk/gro/content/certificates/default.asp">GRO (England and Wales)</a></li>
    <li><a rel="external" href="http://www.gro-scotland.gov.uk/contacts/opentime/index.html/">GRO for Scotland</a></li>
    <li><a rel="external" href="http://www.nidirect.gov.uk/general-register-office-for-northern-ireland">General Register Office for Northern Ireland</a></li>
</ul>

<div role="note" aria-label="Information" class="panel-indent panel-indent-info">
    <p>A photocopy of your document won’t be accepted.</p>
</div>