<h2 id="educational-certificate-uk" class="heading-medium">Educational certificate (UK)</h2>
<p>Your educational certificate must be issued by an institution that is accredited by either:</p>

<ul>
    <li>UK Border Agency</li>
    <li>Scottish Qualifications Authority</li>
    <li>OfQual</li>
    <li>British Accreditation Council</li>
    <li>Open and Distance Learning Quality Council</li>
    <li>Association of British Language Schools</li>
</ul>

<p>It must also be certified, signed and dated by either:</p>

<ul>
    <li>a solicitor or notary public in the UK</li>
    <li>an official of the British Council (only original certificates)</li>
</ul>

<p>You may be able to get your document certified at a British embassy. <a href="/government/organisations/foreign-commonwealth-office/series/notarial-services">Check if this service is offered</a> in the country you’re in.</p>

<div role="note" aria-label="Information" class="panel-indent panel-indent-info">
    <p>A photocopy of your document can be legalised, but it must be certified.</p>
</div>