<h2 id="certificate-of-freesale" class="heading-medium">Certificate of freesale</h2>
<p>Your certificate of freesale can only be legalised if either:</p>

<ul>
    <li>it’s been signed by an official from the issuing authority</li>
    <li>it says ‘signature valid’ next to a tick</li>
    <li>it’s certified</li>
</ul>

<p>We accept the following documents, please select your preferred option:</p>

<form>
    <fieldset>
        <div class="form-group form-group-compound">
            <label class="block-label"  for="radio-indent-1">
                <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Business">
                Your original Certificate of Freesale either certified, or signed by an official from Department of Business, Innovation and Skills (BIS)
            </label>
            <label class="block-label"  for="radio-indent-2">
                <input id="radio-indent-2" type="radio" name="radio-indent-group" value="Business Premium">
                A photocopy of your Certificate of Freesale
            </label>
        </div>
    </fieldset>
</form>