<h2 id="high-court-of-justice-document" class="heading-medium">High Court of Justice document</h2>
<p>Your High Court of Justice document must have been issued by either the:</p>

<ul>
    <li>County Court</li>
    <li>Court of Bankruptcy</li>
    <li>Family Division of the High Court of Justice</li>
    <li>High Court of Justice</li>
    <li>Sheriff Court</li>
</ul>

<p>It can only be legalised if it has either:</p>

<ul>
    <li>the original seal or ink stamp of the court</li>
    <li>the signature of a court official</li>
    <li>been certified</li>
</ul>

<p>It can take the Legalisation Office longer to legalise a court document that only has a signature. Getting your document certified might make the process quicker.</p>