<h3 class="heading-medium">Certificate of no impediment</h3>

<p>Your certificate of no impediment can be legalised if it:</p>

<ul>
    <li>
        <p>is an original certificate (or original certified copy) issued by a local register office</p>
    </li>
    <li>
        <p>has the original signature of the official who issued the certificate</p>
    </li>
</ul>

<div role="note" aria-label="Information" class="panel-indent panel-indent-info">
    <p>A photocopy of your document won’t be accepted.</p>
</div>