<h3 class="heading-medium">Marriage certificate</h3>

<p>Your marriage certificate can be legalised if it’s either:</p>

<ul>
    <li>
        <p>an official certified copy of the certificate issued by the General Register Office (GRO) with the original seal</p>
    </li>
    <li>
        <p>an original certificate (or original certified copy) issued by a church, religious establishment or local register office, with the original signature of the official who issued the certificate</p>
    </li>
</ul>

<p>It can take longer to legalise a signature on an original certificate, especially if it was issued before 1991.</p>

<p>It might be quicker to order a certified copy of your certificate from the:</p>

<ul>
    <li><a rel="external" href="https://www.gro.gov.uk/gro/content/certificates/default.asp">GRO (England and Wales)</a></li>
    <li><a rel="external" href="http://www.gro-scotland.gov.uk/contacts/opentime/index.html/">GRO for Scotland</a></li>
    <li><a rel="external" href="http://www.nidirect.gov.uk/index/information-and-services/government-citizens-and-rights/order-life-event-certificates/order-a-marriage-certificate.htm">General Register Office for Northern Ireland</a></li>
</ul>

<div role="note" aria-label="Information" class="panel-indent panel-indent-info">
    <p>Non-GRO marriage certificates (eg Islamic marriage certificates) can’t be legalised unless they are certified.</p>
</div>

<div role="note" aria-label="Information" class="panel-indent panel-indent-info">
    <p>A photocopy of your document won’t be accepted.</p>
</div>