{% extends "layout.html" %}

{% block page_title %}
  Legalisation prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">


    <h1 class="heading-xlarge">Make an additional payment for legalisation</h1>

       <form action="/additional-payments2-confirm" method="get" id="letsBegin" novalidate>
    
<p>
      This page is for making additional payments for existing applications. For example, to pay for an extra document or to pay the correct amount of postage.</p>


        <div class="panel panel-border-wide">
  <p>
    To submit a new application use the <a href="https://www.gov.uk/get-document-legalised">legalisation online application service</a> instead. 
  </p>
</div>
      

  <p>
  <h2 class="form-label-bold">How much extra do you need to pay?</h2>
  <label for="transaction_dc">
    <span class="form-hint">Enter the amount which you've been told to pay by the Legalisation Office</span>
    &pound; <input class="form-control" type="text" name="paymenttotal" id="transaction_dc" style="width: 100px;" placeholder="0.00" required/>
  </label>

</p>



  <p>
  <h2 class="form-label-bold">What is your email address?</h2>

 <label for="transaction_email_address">
    <span class="form-hint">Enter your email so we can send you a payment confirmation</span>
    <input class="form-control" type="email" name="additionalpaymentsemail" id="transaction_email_address" size="25" required />
  </label>
  
</p>




          <p id="get-started" class="get-started group">
            <button class="button" type="submit" >Continue</button>
          </p>
        </form>



    </div>
  </div>
</main>

{% endblock %}


