{% extends "layout.html" %}

{% block page_title %}
  Legalisation prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">


    <h1 class="heading-xlarge">Make an additional payment for legalisation</h1>

       <form action="/additional-payments2-confirm" method="get" id="letsBegin" novalidate>
    
<div class="panel panel-border-wide">
      This page is for additional payments only, for existing applications. To make a new application you need to use the <a href="https://www.gov.uk/get-document-legalised">legalisation online application service</a>. </div>

  <p>
  <h2 class="form-label-bold">How much extra do you need to pay?</h2>
  <label for="transaction_dc">
    <span class="form-hint">The Legalisation Office will have contacted you about your application and told you the amount you need to pay</span>
    &pound; <input type="text" name="paymenttotal" id="transaction_dc" size="10" required/>
  </label>
</p>



  <p>
  <h2 class="form-label-bold">What is your email address?</h2>

 <label for="transaction_email_address">
    <span class="form-hint">Enter your email so we can send you a payment confirmation</span>
    <input type="email" name="additionalpaymentsemail" id="transaction_email_address" size="25" required />
  </label>
  
</p>



<p>If not used within 28 days your online payment will expire and no funds will be debited from your card or account</p>



          <p id="get-started" class="get-started group">
            <button class="button" type="submit" >Continue</button>
          </p>
        </form>



    </div>
  </div>
</main>

{% endblock %}


