{{<layout}}

{{$pageTitle}}
Additional Information
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}

    <h1 class="heading-xlarge">Additional information</h1>

	<!--
    <div class="form-group">
        <h2 class="heading-small">Special Instructions (optional)</h2>
        <span class="form-hint">Please add any extra details that are relevant to how we process your application</span>
        <textarea class="form-control" id="instructions" type="text" cols="40" rows="5">Please can you write my internal reference number on the return envelope
        </textarea>
    </div>
-->
    <form class="form-group">
        <fieldset class="inline">
            <legend>
            <h2 class="heading-small">Your reference (optional)</h2>
            <span class="form-hint">If you have your own internal reference number you can enter it here</span>
            </legend>
            <input class="form-control" id="customer-reference" type="text" value="IR-12345">
        </fieldset>
    </form>

	
	        <div class="form-group">
             <h2 class="heading-small">Feedback</h2>
            <label class="block-label" for="checkbox-2">
                <input id="checkbox-2" type="checkbox" value="accept_feedback">
                I am happy to be contacted for feedback to help improve this service
            </label>
        </div>
	
    <div class="form-group">
        <a href="application_form_summary" class="button">Save and Return to Summary</a>
        <p><a href="application_form_summary" class="example-back-link">Cancel</a></p>
    </div>

  </main>

{{/content}}

{{/layout}}
