{% extends "layout.html" %}

{% block page_title %}
Return Delivery
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    <p><a href="application_form_countries" class="back-to-previous">Back</a></p>


    <h1 class="heading-xlarge">Sending us your documents</h1>
    <p class="text">
        Please select how you will send your documents
    </p>

    <br/>

    <form class="form-group">

        <label class="block-label" for="radio-4">
            <input id="radio-4" type="radio" name="radio-group" value="UK post">
            I will post my documents in the UK
        </label>
        <label class="block-label" for="radio-1">
            <input id="radio-1" type="radio" name="radio-group" value="UK courier">
            I will use a courier to send my documents in the UK
        </label>
        <label class="block-label" for="radio-2">
            <input id="radio-2" type="radio" name="radio-group" value="Oversearch post or courier">
            I am overseas and will post or courier my documents to the UK
        </label>

    </form>



    <div class="form-group">
        <a href="application_form_postage" class="button">Continue</a>
    </div>

  </main>

{% endblock %}


