 {% extends "layout.html" %}

{% block page_title %}
Document Eligibility
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}
    <p><a href="application_form_type" class="back-to-previous">Back</a></p>

    <h1 class="heading-xlarge">Check if documents can be legalised</h1>

    <div class="article-container group">
        <article role="article" class="group">
            <div class="inner">
                <div class="intro column-two-thirds">
                    <p>You can get a UK document with the signature, stamp or seal of a UK public official legalised. You may need to send your document in a particular format eg an original not a photocopy.</p>
                    <p>Use this tool to check if your document can be legalised.</p>
                    <p class="get-started">
                         <a rel="nofollow" href="eligibility_filters3_nocategories" class="big button">Check your documents</a>
                    </p>


                    <div class="form-group">
                      <p>Or if you know your documents can be legalised you can <a href="application_form_personal_details">skip this check</a>.</p>
                    </div>
                </div>
            </div>
        </article>
    </div>
  </main>

{% endblock %}


