{% extends "layout.html" %}

{% block page_title %}
Confirmation
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

<h1 class="heading-xlarge">Print your documents</h1>
    <div class="column-two-thirds">
        <h3 class="heading-medium" style="margin-top: 0;">Before we can legalise your documents, you need to print your cover sheet and attach it to your documents.</h3>



    <!--<h2 class="heading-small">Personal Details</h2>
    <table id="review-personal-details" class="summary-table">
        <tbody>
        <tr>
            <td class="summary-table-cell-label">Name</td>
            <td class="summary-table-cell-content">John Smith</td>
        </tr>
        <tr>
            <td class="summary-table-cell-label">Email</td>
            <td class="summary-table-cell-content">email@legalisation.gov.uk</td>
        </tr>
        <tr>
            <td class="summary-table-cell-label">Telephone</td>
            <td class="summary-table-cell-content">03700 00 22 44</td>
        </tr>
        </tbody>
    </table>

    <h2 class="heading-small">Address</h2>
    <table id="review-address" class="summary-table">
        <tbody>
        <tr>
            <td class="summary-table-cell-label">Return Address for Legalised Documents</td>
            <td class="summary-table-cell-content">Informed Solutions</br>
                The Old Bank,</br>
                Old Market Place,</br>
                Altrincham,</br>
                Cheshire,</br>
                WA14 4PA</td>
        </tr>
        <tr>
            <td class="summary-table-cell-label">Return Address if unsuccessful</td>
            <td class="summary-table-cell-content">Informed Solutions</br>
                The Old Bank,</br>
                Old Market Place,</br>
                Altrincham,</br>
                Cheshire,</br>
                WA14 4PA</td>
        </tr>
        </tbody>
    </table>

    <h2 class="heading-small">Document Details</h2>
    <table id="review-document-details" class="summary-table">
        <tbody>
        <tr>
            <td class="summary-table-cell-label">Countries where documents will be used</td>
            <td class="summary-table-cell-content">
                France: 7</br>
                Spain: 1</td>
        </tr>
        </tbody>
    </table>

    <h2 class="heading-small">Postage</h2>
    <table id="review-postage" class="summary-table">
        <tbody>
        <tr>
            <td class="summary-table-cell-label">Return Delivery Method</td>
            <td class="summary-table-cell-content">European Courier</td>
        </tr>
        <tr>
            <td class="summary-table-cell-label">Total Cost of Postage</td>
            <td class="summary-table-cell-content">&pound;224.50</td>
        </tr>
        </tbody>
    </table>

    <h2 class="heading-small">Additional Information</h2>
    <table id="review-special" class="summary-table">
        <tbody>
        <tr>
            <td class="summary-table-cell-label">Special Instructions</td>
            <td class="summary-table-cell-content">Please can you write my internal reference number on the return envelope</td>
        </tr>
        <tr>
            <td class="summary-table-cell-label">Your Reference</td>
            <td class="summary-table-cell-content">IR-12345</td>
        </tr>
        </tbody>
    </table>-->

    <h2 class="heading-small">Key Information</h2>
    <table id="review-special">
        <tbody>
        <tr>
            <td class="summary-table-cell-label">Your Reference</td>
            <td class="summary-table-cell-content">IR-12345</td>
        </tr>
        <tr>
            <td class="summary-table-cell-label">Selected Documents</td>
            <td class="summary-table-cell-content">
                <p>Degree Certificate</p>
                <p>Birth Certificate</p>
            </td>
        </tr>
        <tr>
            <td class="summary-table-cell-label">Total Cost</td>
            <td class="summary-table-cell-content">£14.50</td>
        </tr>
        </tbody>
    </table>

     <div style="padding-top: 30px;">
         <p><i class="flaticon-new100"></i>We have also sent you this information by email</p>
     </div>

        <div class="form-group">
            <p style="margin-top: 25px;">
                <label class="block-label" for="print-link">
                    <a class="print link" href="javascript:print()" id="print-link">Print cover sheet</a>
                </label>
            </p>
        </div>

    <details>
        <summary><span class="summary">I don’t have a printer</span></summary>
        <div class="panel-indent">
            If you don't have a printer, write down the application reference number, your name and address and send this to us with your documents.
                We have also emailed you a copy of your application details, so you have the option to print them at another computer later.
        </div>
    </details>

    <div class="form-group">
        <div class="heading-medium">Where do I post my documents?</div>
        <p>We've recorded your application and will begin processing it once we receive your documents.</p>
        <p>Please send your documents via <span style="font-weight: bold;">Royal Mail Recorded Delivery</span> to:</p>
        <p><span style="font-weight: bold;">Legalisation Office<br/>
            Foreign and Commonwealth Office<br/>
            PO Box 6255<br/>
            Milton Keynes<br/>
            MK10 1XX
        </span></p>
    </div>

    <form class="form-group">
        <label class="block-label" for="checkbox1">
            <input id="checkbox1" type="checkbox" value="1">
            I confirm that I will post my documents, including the cover sheet.
        </label>
    </form>
    </div>
    <div class="form-group">
        <a href="application_form_confirmation_2" class="button">Confirm</a>
    </div>

  </main>

{% endblock %}


