{{<layout}}

{{$pageTitle}}
Return Delivery
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}
    <p><a href="application_form_sending_in" class="back-to-previous">Back</a></p>

    <h1 class="heading-xlarge">Returning your documents</h1>
    <p class="text">
        We will return your legalised documents and any supporting documentation by European courier. The courier cost is <span style="font-weight:bold;">£14.50</a>
        
    
    </p>

    <br/>



    <div class="form-group">
        <a href="application_form_special" class="button">Continue</a>
    </div>

  </main>

{{/content}}

{{/layout}}
