{{<layout}}

{{$pageTitle}}
Application Type
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}
    <p><a href="index" class="back-to-previous">Back</a></p>

    <h1 class="heading-xlarge">Choose a service</h1>

    <div>
        <p>Choose a document legalisation service</p>
    </div>

    <div class="form-group">
        <form>
            <fieldset class="inline">
                <div class="form-group form-group-compound">
                    <div class="column-half service-type">
                        <label class="block-label" for="radio-indent-1">
                            <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Standard Postal">
                            Standard Service
                        </label>
                        <ul>
                            <li><i class="flaticon-checked21 no-margin"></i>£30 per document + postage</li>
                            <li><i class="flaticon-checked21 no-margin"></i>Documents sent and returned by post</li>
                            <li><i class="flaticon-checked21 no-margin"></i>48 hours (excludes postage times)</li>
                        </ul>
                    </div>
                    <div class="column-half service-type">
                        <label class="block-label" for="radio-indent-2">
                        <input id="radio-indent-2" type="radio" name="radio-indent-group" value="Business Premium">
                        Premium Service
                        </label>
                        <ul>
                            <li><i class="flaticon-checked21 no-margin"></i>£75 per document</li>
                            <li><i class="flaticon-checked21 no-margin"></i>London drop-off & collection only</li>
                            <li><i class="flaticon-checked21 no-margin"></i>Same day service</li>
                            <li><i class="flaticon-checked21 no-margin"></i>Pre-registered business users only (requires a company registration number)</li>
                        </ul>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

    <div class="form-group">
        <a href="javascript:chooseService()" class="button">Continue</a>

    </div>

  </main>

{{/content}}

{{/layout}}
