{{<layout}}

{{$pageTitle}}
Confirmation
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}

    <div class="form-group column-two-thirds">
            <h1 class="heading-medium">We have sent the certification information to your.email@youremail.com </h1>
            <p>Remember to come back to this site to submit your application when you have all of your documents certified.</p>
    </div>

    <div class="form-group">
        <a href="index" class="button">Finished</a>
    </div>
  </main>

{{/content}}

{{/layout}}
