{{<layout}}

{{$pageTitle}}
Address Details
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}
    <p><a href="application_form_personal_details" class="back-to-previous">Back</a></p>


    <h1 class="heading-xlarge">Return address details</h1>

    <h3 class="heading-medium">Where would you like your legalised documents to be returned?</h3>
    <form id="address_form">
        <div class="form-group">
            <label class="form-label" for="full-name">Full name</label>
            <span class="form-hint">Name of the person you would like the documents returned to</span>
            <input class="form-control" id="full-name" type="text">
        </div>

        <div class="form-group">
            <label class="form-label" for="postcode">Postcode</label>
            <input class="form-control-1-8 postcode" id="postcode" type="text">
        </div>

        <div class="form-group" style="margin-bottom: 5px">
            <a class="button find-address button-secondary" id="find-address" style="margin-bottom: 15px">Find address</a>

            <div class="js-hidden" id="address-list-group">
                <label class="form-label visuallyhidden" for="address-list">Pick an address</label>
                <select class="form-select" id="address-list" name="address">
                    <option value="0">Please select your address</option>
                    <option value="1">30A Culver Road, St Albans</option>
                    <option value="2">31A Culver Road, St Albans</option>
                    <option value="3">32A Culver Road, St Albans</option>
                    <option value="4">33A Culver Road, St Albans</option>
                    <option value="5">34A Culver Road, St Albans</option>
                    <option value="6">35A Culver Road, St Albans</option>
                </select>
            </div>

        </div>
        <div style="display: block; margin-bottom: 25px">
            <a class="link address-manual" id="address-manual"  style="float: none;">Enter address manually</a>
        </div>




        <div class="form-group js-hidden" id="address-details-group">
            <label class="form-label">Street</label>
            <p><input class="form-control" type="text" id="address1"></p>
            <p><input class="form-control" type="text"></p>
            <p><input class="form-control" type="text"></p>

            <div class="form-group">
                <label class="form-label">Town</label>
                <input class="form-control" type="text" id="town">
            </div>
            <div class="form-group">
                <label class="form-label">County (optional)</label>
                <input class="form-control" type="text" id="county">
            </div>

            <div class="form-group">
                <label class="form-label">Country</label>
                <select class="form-select country" type="tel" id="country"></select>
            </div>
        </div>


    </form>
    <!-- Alternative Return Address-->
    <p class="text">Where would you like us to return your documents if we are unable to legalise them?</p>

    <div class="form-group">
        <form>
            <fieldset class="inline">
                <div class="form-group form-group-compound">
                    <label class="block-label"  for="radio-indent-1">
                        <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Business">
                        Same address as above
                    </label>
                    <label class="block-label" data-target="different-address-section" for="radio-indent-2">
                        <input id="radio-indent-2" type="radio" name="radio-indent-group" value="Personal">
                        Different address
                    </label>
                </div>


                <div class="panel-indent js-hidden" id="different-address-section">
                    <div class="form-group">
                    <label class="form-label" for="alt_full_name">Full name</label>
                    <span class="form-hint">Name of the person you would like the documents returned to in case of a problem</span>
                    <input class="form-control" id="alt_full_name" type="text">
                </div>

                <div class="form-group">
                    <label class="form-label" for="alt_postcode">Postcode</label>
                    <input class="form-control-1-8" id="alt_postcode" type="text">
                </div>
                <div class="form-group" style="margin-bottom: 5px">
                    <a class="button find-address  button-secondary" id="find-address-alt" style="margin-bottom: 15px">Find address</a>

                    <div class="form-group js-hidden" id="address-list-group-alt">
                        <label class="form-label visuallyhidden" for="address-list-alt">Pick an address</label>
                        <select class="form-select" id="address-list-alt" name="address-alt">
                            <option value="0">Please select your address</option>
                            <option value="1">30A Culver Road, St Albans</option>
                            <option value="2">31A Culver Road, St Albans</option>
                            <option value="3">32A Culver Road, St Albans</option>
                            <option value="4">33A Culver Road, St Albans</option>
                            <option value="5">34A Culver Road, St Albans</option>
                            <option value="6">35A Culver Road, St Albans</option>
                        </select>
                    </div>

                </div>
                    <div style="display: block; margin-bottom: 25px">
                        <a class="link address-manual" id="address-manual-alt" style="float: none;">Enter address manually</a>
                    </div>

                <div class="form-group js-hidden" id="address-details-group-alt">
                    <label class="form-label">Street</label>
                    <p><input class="form-control" type="text" id="address1-alt"></p>
                    <p><input class="form-control" type="text"></p>
                    <p><input class="form-control" type="text"></p>

                    <div class="form-group">
                        <label class="form-label">Town</label>
                        <input class="form-control" type="text" id="town-alt">
                    </div>
                    <div class="form-group">
                        <label class="form-label">County (optional)</label>
                        <input class="form-control" type="text" id="county-alt">
                    </div>

                    <div class="form-group">
                        <label class="form-label">Country</label>
                        <select class="form-select country" type="text" id="country-alt"></select>
                    </div>
                </div>

                </div>
            </fieldset>
        </form>
    </div>
    

    <div class="form-group">
        <a href="application_form_countries" class="button">Continue</a>
    </div>

  </main>

{{/content}}

{{/layout}}

<script src="/public/javascripts/jquery-ui.js"></script>
