{% extends "layout.html" %}

{% block page_title %}
  Legalisation prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Check if documents can be legalised</h1>



                    <p>You can get a UK document with the signature, stamp or seal of a UK public official legalised. You may need to send your document in a particular format eg an original not a photocopy.</p>
                    <p>Use this tool to check if your document can be legalised.</p>
                    <p class="get-started">
                      <a class="button" href="select-documents">Check your documents</a>

                    </p>


                    <p>If you know your documents can be legalised you can <a href="">skip this check</a>.</p>



    </div>
  </div>
</main>

{% endblock %}


