 {% extends "layout.html" %}

{% block page_title %}
How cookies are used on the legalisations service
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}



<h1 class="heading-xlarge">How cookies are used on the legalisation service</h1>

<div class="column-two-thirds">

<p><span>For information on what cookies are and how they are used on GOV.UK pages, go to <a target="_blank" href="https://www.gov.uk/help/cookies">GOV.UK</a></span></p>


<h3 class="heading-medium">Measuring website usage (Piwik)</h3>

<p>We use Piwik Analytics software to collect non-personally-identifying information of the sort that web browsers and servers typically make available, such as the browser type, language preference, referring site, and the date and time of each visitor request. We do this to better understand how applicants for legalisation use the website. From time to time, the Foreign and Commonwealth Office may release non-personally-identifying information in the aggregate, eg, by publishing a report on trends in the usage of its website.</p>

<p><span>Piwik Analytics sets the following cookies:</span></p>

<table>
<tr><th>Name</th><th>Purpose</th><th>Expires</th></tr>
<tr><td>_pk_ref</td><td>Tracking of web site usage</td><td>Two years</td></tr>
<tr><td>_pk_cvar</td><td>Tracking of web site usage</td><td>Two years</td></tr>
<tr><td>_pk_id</td><td>Tracking of web site usage</td><td>Two years</td></tr>
<tr><td>_pk_ses</td><td>Tracking of web site usage</td><td>Two years</td></tr>
</table>

<br><p><span>You can <a href="https://web-analytics.fco.gov.uk/piwik/index.php?module=CoreAdminHome&amp;action=optOut&amp;language=en" target="_blank">opt out from Piwik Analytics cookies</a></span></p>

<h3 class="heading-medium">Your progress when applying for legalisation</h3>
<p>When you apply for legalisation, we will set a cookie to remember your progress through the form. This cookie will also remember the data you've entered, but only until you submit your form or close your browser, at which point it will be deleted. The cookies will also be deleted if there is a period of inactivity.</p>
<table>
<tr><th>Name</th><th>Purpose</th><th>Expires</th></tr>
<tr><td>????</td><td>Session ID assigned to identify a specific user’s data</td><td>At the end of the session</td></tr>
</table>


<h3 class="heading-medium">Your legalisation account</h3>
<p>If you create an account for legalisation, we use cookies to XXXXXXX</p>
<table>
<tr><th>Name</th><th>Purpose</th><th>Expires</th></tr>
<tr><td>????</td><td>??????</td><td>At the end of the session</td></tr>
</table>

<h3 class="heading-medium">Other suppliers</h3>
<p>We use other suppliers to provide this service, who have their own cookie policy:</p>
<ul>
<li><span>Barclays provide the online payment service. Please read the <a target="_blank" href="http://www.barclays.co.uk/ImportantInformation/Cookiespolicy/P1242558101760">Barclays cookie policy</a>.</span></li>
</ul>

</div>


  </main>

{% endblock %}




