 {{<layout}}

{{$pageTitle}}
Declaration
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}
    <p><a href="application_form_summary" class="back-to-previous">Back</a></p>


    <h1 class="heading-xlarge">Declaration</h1>


                <div class="intro column-two-thirds">
                    <p>By continuing you confirm that:</p>
					<ul>
					<li>the information you've given is correct
					<li>you agree to the <a href="#">terms and conditions and privacy policy</a>
					</ul>
        <div class="form-group">
            <label class="block-label" for="checkbox-1">
                <input id="checkbox-1" type="checkbox" value="accept_terms">
                I agree
            </label>
       </div>

    <div class="form-group">
        <a href="payment" class="button">Confirm Application Details & Pay</a>
    </div>
            </div>

  </main>

{{/content}}

{{/layout}}
