{% extends "layout.html" %}

{% block page_title %}
  Legalisation prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

<h1 class="heading-xlarge">Declaration</h1>
<form method="get" action="/submit-payment">
    <input type="hidden" id="loggedIn" name="loggedIn" value="false">
    <input type="hidden" id="usersEmail" name="usersEmail" value="undefined">

    <div>

        <p>By continuing you confirm that:</p>
        <ul class="list list-bullet">
            <li>the information you've given is correct
            </li><li>you agree to the <a href="" target="_blank">terms and conditions and privacy policy <span class="visually-hidden"> opens in new window</span></a>
            </li></ul>
        <div class="form-group   ">
            <fieldset>
                <legend id="service_type_selector" class="hide">
                    <span class="error-message">
                        
                    </span>
                </legend>

                <label class="block-label" for="all_info_correct">
                    <input type="checkbox" aria-required="true"  name="all_info_correct" id="all_info_correct">
                    I agree
                </label>
            </fieldset>
        </div>

        <div class="form-group">
            <button class="button" type="submit">Confirm application details &amp; pay</button>
        </div>
    </div>

</form>


    </div>
  </div>
</main>

{% endblock %}


