<!-- BootStrap- ONLY FOR THIS PAGE-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

{{<layout}}

{{$pageTitle}}
Document Eligibility
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}


    <h1 class="heading-xlarge">Check if documents can be legalised</h1>

    <div class="article-container group">
        <article role="article" class="group">
            <div class="inner">
                <div class="intro">
                    <p>You can get a UK public document ‘legalised’ - this means a signature, seal or stamp made by a UK public official on the document is confirmed as genuine by the UK government.</p>

                    <p class="form-label-bold">Use this page to check if your document can be legalised.</p>
                    <p class="form-hint">For example, to find Birth Certificate click on the 'General Registry Office Documents' box and then click on 'Birth Certificate'
                        for information about legalising the document.</p>

                    <form id="search-form">
                        <label for="search-main" class="visuallyhidden"></label>
                        <input type="search" name="q" id="search-main" title="Search" class="form-control-3-4">
                        <input class="submit" type="submit" value="Search">
                    </form>

                    <div id="results">
                     <div class="panel-group" id="accordion">

                        <!-- 1.Business Documents -->
                        <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse"  href="#collapseOne">Business Document</a>
                                    </h4>
                                </div>

                            <!-- 0.Birth, Marriage, Death Documents -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse"  href="#collapseZero">Birth, Marriage, Death Documents</a>
                                    </h4>
                                </div>
                                <div id="collapseZero" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <form class="form-group">
                                            <label class="block-label" for="checkbox-67">
                                                <input id="checkbox-67" type="checkbox" value="1">
                                                Birth Certificate
                                            </label>
                                            <label class="block-label" for="checkbox-68">
                                                <input id="checkbox-68" type="checkbox" value="1">
                                                Civil Partnership Certificate
                                            </label>
                                            <label class="block-label" for="checkbox-69">
                                                <input id="checkbox-69" type="checkbox" value="1">
                                                Conversion of Civil Partnership to Marriage Certificate
                                            </label>
                                            <label class="block-label" for="checkbox-70">
                                                <input id="checkbox-70" type="checkbox" value="1">
                                                Coroners Report
                                            </label>
                                            <label class="block-label" for="checkbox-71">
                                                <input id="checkbox-71" type="checkbox" value="1">
                                                Death Certificate
                                            </label>
                                            <label class="block-label" for="checkbox-72">
                                                <input id="checkbox-72" type="checkbox" value="1">
                                                Marriage Certificate
                                            </label>
                                            <label class="block-label" for="checkbox-73">
                                                <input id="checkbox-73" type="checkbox" value="1">
                                                Cremation Certificate
                                            </label>
                                            <label class="block-label" for="checkbox-74">
                                                <input id="checkbox-74" type="checkbox" value="1">
                                                Baptism Certificate
                                            </label>
                                            <label class="block-label" for="checkbox-75">
                                                <input id="checkbox-75" type="checkbox" value="1">
                                                Certificate of No Impediment
                                            </label>
                                            <label class="block-label" for="checkbox-76">
                                                <input id="checkbox-76" type="checkbox" value="1">
                                                Letter of No Trace
                                            </label>
                                        </form>
                                    </div>
                                </div>
                            </div>

                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <!-- 1.1 Articles of association -->

                                        <!-- 1.2 Chamber of Commerce  -->

                                        <!-- 1.3 Certificate of Freesale -->

                                        <!-- 1.4 Certificate of Incorporation -->

                                        <!-- 1.5 Certificate of Memorandum -->

                                        <!-- 1.6 Companies House Document -->

                                        <!-- 1.7 Department of Business, Innovation and Skills (BIS) Document -->
                                        <form class="form-group">
                                            <label class="block-label"  for="checkbox-1">
                                                <input id="checkbox-1" type="checkbox" value="0">
                                                Articles of association
                                            </label>
                                            <label class="block-label"  for="checkbox-2">
                                                <input id="checkbox-2" type="checkbox" value="1">
                                                Chamber of Commerce
                                            </label>
                                            <label class="block-label" for="checkbox-3">
                                                <input id="checkbox-3" type="checkbox" value="2">
                                                Certificate of Incorporation
                                            </label>
                                            <label class="block-label" for="checkbox-64">
                                                <input id="checkbox-64" type="checkbox" value="2">
                                                Certificate of Freesale
                                            </label>
                                            <label class="block-label" for="checkbox-4">
                                                <input id="checkbox-4" type="checkbox" value="3">
                                                Certificate of Memorandum
                                            </label>
                                            <label class="block-label" for="checkbox-5">
                                                <input id="checkbox-5" type="checkbox" value="4">
                                                Companies House Document
                                            </label>
                                            <label class="block-label" for="checkbox-6">
                                                <input id="checkbox-6" type="checkbox" value="5">
                                                Department of Business, Innovation and Skills (BIS) Document
                                            </label>
                                        </form>
                                    </div>
                                </div>
                        </div>

                        <!-- 2. Court Documents -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse"  href="#collapseTwo">Court Documents</a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!-- 2.1 County Court Document -->

                                    <!-- 2.2 Court Document -->

                                    <!-- 2.3  Court of Bankruptcy Document -->

                                    <!-- 2.4 Decree Absolute -->

                                    <!-- 2.5 Decree Nisi -->

                                    <!-- 2.6 Family Division of the High Court of Justice Document -->

                                    <!-- 2.7 Grant of Probate -->

                                    <!-- 2.8 High Court of Justice Document -->

                                    <!-- 2.9 Probate              NOTE THIS IS REPEATED!!!-->

                                    <!-- 2.10 Sheriff Court Document -->
                                    <form class="form-group">
                                        <label class="block-label" for="checkbox-7">
                                            <input id="checkbox-7" type="checkbox" value="0">
                                            County Court Document
                                        </label>
                                        <label class="block-label" for="checkbox-8">
                                            <input id="checkbox-8" type="checkbox" value="1">
                                            Court Document
                                        </label>
                                        <label class="block-label" for="checkbox-9">
                                            <input id="checkbox-9" type="checkbox" value="2">
                                            Court of Bankruptcy Document
                                        </label>
                                        <label class="block-label" for="checkbox-10">
                                            <input id="checkbox-10" type="checkbox" value="3">
                                            Decree Absolute
                                        </label>
                                        <label class="block-label" for="checkbox-11">
                                            <input id="checkbox-11" type="checkbox" value="4">
                                            Decree Nisi
                                        </label>
                                        <label class="block-label" for="checkbox-12">
                                            <input id="checkbox-12" type="checkbox" value="5">
                                            Family Division of the High Court of Justice Document
                                        </label>
                                        <label class="block-label" for="checkbox-13">
                                            <input id="checkbox-13" type="checkbox" value="6">
                                            Grant of Probate
                                        </label>
                                        <label class="block-label" for="checkbox-14">
                                            <input id="checkbox-14" type="checkbox" value="8">
                                            High Court of Justice Document
                                        </label>
                                        <label class="block-label" for="checkbox-15">
                                            <input id="checkbox-15" type="checkbox" value="9">
                                            Probate
                                        </label>
                                        <label class="block-label" for="checkbox-16">
                                            <input id="checkbox-16" type="checkbox" value="10">
                                            Sheriff Court Document
                                        </label>
                                    </form>

                                </div>
                            </div>
                        </div>

                        <!-- 3. Educational Documents -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse"  href="#collapseThree">Educational Documents</a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!-- 3.1 Degree Certificate or Transcript (UK) -->

                                    <!-- 3.2 Diploma -->

                                    <!-- 3.3  Educational Certificate (UK) -->

                                    <!-- 3.4  School Document      NOT COMPLETE -->
                                    <form class="form-group">
                                        <label class="block-label" for="checkbox-17">
                                            <input id="checkbox-17" type="checkbox" value="1">
                                            Degree Certificate or Transcript (UK)
                                        </label>
                                        <label class="block-label" for="checkbox-18">
                                            <input id="checkbox-18" type="checkbox" value="1">
                                            Diploma
                                        </label>
                                        <label class="block-label" for="checkbox-19">
                                            <input id="checkbox-19" type="checkbox" value="1">
                                            Educational Certificate (UK)
                                        </label>
                                        <label class="block-label" for="checkbox-20">
                                            <input id="checkbox-20" type="checkbox" value="1">
                                            School Document
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- 4. Government Department Documents -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse"  href="#collapseFour">Government Department Documents</a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!-- 4.1 Home Office Document -->

                                    <!-- 4.2 Department of Health Document -->
                                    <form class="form-group">
                                        <label class="block-label" for="checkbox-21">
                                            <input id="checkbox-21" type="checkbox" value="1">
                                            Home Office Document
                                        </label>
                                        <label class="block-label" for="checkbox-22">
                                            <input id="checkbox-22" type="checkbox" value="1">
                                            Department of Health Document
                                        </label>
                                        <label class="block-label" for="checkbox-21-2">
                                            <input id="checkbox-21-2" type="checkbox" value="1">
                                            Government Issued Document
                                        </label>
                                        <label class="block-label" for="checkbox-22-2">
                                            <input id="checkbox-22-2" type="checkbox" value="1">
                                            HM Revenue and Customs (HMRC) Document
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- 5. General Registry Office Documents -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse"  href="#collapseFive">General Registry Office Documents</a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!-- 5.1 Birth Certificate-->

                                    <!-- 5.2 Civil Partnership Certificate-->

                                    <!-- 5.3 Conversion of Civil Partnership to Marriage Certificate-->

                                    <!-- 5.4 Coroners Report-->

                                    <!-- 5.5  Cremation Certificate-->

                                    <!-- 5.6 Death Certificate-->

                                    <!-- 5.7 Marriage Certificate-->
                                    <form class="form-group">
                                        <label class="block-label" for="checkbox-23">
                                            <input id="checkbox-23" type="checkbox" value="1">
                                            Birth Certificate
                                        </label>
                                        <label class="block-label" for="checkbox-24">
                                            <input id="checkbox-24" type="checkbox" value="1">
                                            Civil Partnership Certificate
                                        </label>
                                        <label class="block-label" for="checkbox-25">
                                            <input id="checkbox-25" type="checkbox" value="1">
                                            Conversion of Civil Partnership to Marriage Certificate
                                        </label>
                                        <label class="block-label" for="checkbox-26">
                                            <input id="checkbox-26" type="checkbox" value="1">
                                            Coroners Report
                                        </label>
                                        <label class="block-label" for="checkbox-27">
                                            <input id="checkbox-27" type="checkbox" value="1">
                                            Death Certificate
                                        </label>
                                        <label class="block-label" for="checkbox-28">
                                            <input id="checkbox-28" type="checkbox" value="1">
                                            Marriage Certificate
                                        </label>
                                        <label class="block-label" for="checkbox-28-2">
                                            <input id="checkbox-28-2" type="checkbox" value="1">
                                            Cremation Certificate
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- 6. Identity Documents -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse"  href="#collapseSix">Identity Documents</a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!-- 6.1 Certificate of Naturalisation-->

                                    <!-- 6.2 Certificate of No Impediment-->

                                    <!-- 6.3 Driving Licence (Copy)-->

                                    <!-- 6.4 Letter of No Trace-->

                                    <!-- 6.5  Passport-->
                                    <form class="form-group">
                                        <label class="block-label" for="checkbox-23-2">
                                            <input id="checkbox-23-2" type="checkbox" value="1">
                                            Birth Certificate
                                        </label>
                                        <label class="block-label" for="checkbox-29">
                                            <input id="checkbox-29" type="checkbox" value="1">
                                            Certificate of Naturalisation
                                        </label>
                                        <label class="block-label" for="checkbox-30">
                                            <input id="checkbox-30" type="checkbox" value="1">
                                            Certificate of No Impediment
                                        </label>
                                        <label class="block-label" for="checkbox-31">
                                            <input id="checkbox-31" type="checkbox" value="1">
                                            Driving Licence (Copy)
                                        </label>
                                        <label class="block-label" for="checkbox-32">
                                            <input id="checkbox-32" type="checkbox" value="1">
                                            Letter of No Trace
                                        </label>
                                        <label class="block-label" for="checkbox-33">
                                            <input id="checkbox-33" type="checkbox" value="1">
                                            Passport
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- 7. Legal Documents -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse"  href="#collapseSeven">Legal Documents</a>
                                </h4>
                            </div>
                            <div id="collapseSeven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!-- 7.1 Affidavit-->

                                    <!-- 7.2 Certificate of Freesale-->

                                    <!-- 7.3 Certificate of Incorporation-->

                                    <!-- 7.4 Certificate of Memorandum-->

                                    <!-- 7.5  Change of Name Deed-->

                                    <!-- 7.6 Companies House Document-->

                                    <!-- 7.7 Department of Business, Innovation and Skills (BIS) Document-->

                                    <!-- 7.8 Last Will and Testament-->

                                    <!-- 7.9 Name Change Deed or Document-->

                                    <!-- 7.10 Power of Attorney-->

                                    <!-- 7.11 Statutory Declaration-->
                                    <form class="form-group">
                                        <label class="block-label"  for="checkbox-34">
                                            <input id="checkbox-34" type="checkbox" value="0" name="checkbox-indent-group">
                                            Affidavit
                                        </label>
                                        <label class="block-label"  for="checkbox-35">
                                            <input id="checkbox-35" type="checkbox" value="1" name="checkbox-indent-group">
                                            Certificate of Freesale
                                        </label>
                                        <label class="block-label" for="checkbox-36">
                                            <input id="checkbox-36" type="checkbox" value="2" name="checkbox-indent-group">
                                            Certificate of Incorporation
                                        </label>
                                        <label class="block-label" for="checkbox-37">
                                            <input id="checkbox-37" type="checkbox" value="3" name="checkbox-indent-group">
                                            Certificate of Memorandum
                                        </label>
                                        <label class="block-label" for="checkbox-38">
                                            <input id="checkbox-38" type="checkbox" value="4" name="checkbox-indent-group">
                                            Change of Name Deed
                                        </label>
                                        <label class="block-label" for="checkbox-39">
                                            <input id="checkbox-39" type="checkbox" value="5" name="checkbox-indent-group">
                                            Companies House Document
                                        </label>
                                        <label class="block-label" for="checkbox-40">
                                            <input id="checkbox-40" type="checkbox" value="5" name="checkbox-indent-group">
                                            Department of Business, Innovation and Skills (BIS) Document
                                        </label>
                                        <label class="block-label" for="checkbox-41">
                                            <input id="checkbox-41" type="checkbox" value="5" name="checkbox-indent-group">
                                            Last Will and Testament
                                        </label>
                                        <label class="block-label" for="checkbox-42">
                                            <input id="checkbox-42" type="checkbox" value="5" name="checkbox-indent-group">
                                            Name Change Deed or Document
                                        </label>
                                        <label class="block-label" for="checkbox-43">
                                            <input id="checkbox-43" type="checkbox" value="5" name="checkbox-indent-group">
                                            Power of Attorney
                                        </label>
                                        <label class="block-label" for="checkbox-44">
                                            <input id="checkbox-44" type="checkbox" value="5" name="checkbox-indent-group">
                                            Statutory Declaration
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- 8. Medical Documents -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse"  href="#collapseEight">Medical Documents</a>
                                </h4>
                            </div>
                            <div id="collapseEight" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!-- 8.1 Doctor’s Letter-->

                                    <!-- 8.2 Fit Note-->

                                    <!-- 8.3 Medical Report-->

                                    <!-- 8.4 Medical Test Results-->

                                    <!-- 8.5  Sick Note-->
                                    <form class="form-group">
                                        <label class="block-label"  for="checkbox-45">
                                            <input id="checkbox-45" type="checkbox" value="0" name="checkbox-indent-group">
                                            Doctor’s Letter
                                        </label>
                                        <label class="block-label"  for="checkbox-46">
                                            <input id="checkbox-46" type="checkbox" value="1" name="checkbox-indent-group">
                                            Fit Note
                                        </label>
                                        <label class="block-label" for="checkbox-47">
                                            <input id="checkbox-47" type="checkbox" value="2" name="checkbox-indent-group">
                                            Medical Report
                                        </label>
                                        <label class="block-label" for="checkbox-48">
                                            <input id="checkbox-48" type="checkbox" value="3" name="checkbox-indent-group">
                                            Medical Test Results
                                        </label>
                                        <label class="block-label" for="checkbox-49">
                                            <input id="checkbox-49" type="checkbox" value="4" name="checkbox-indent-group">
                                            Sick Note
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- 9. Personal Documents e.g. Financial or Employment -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse"  href="#collapseNine">Personal Documents e.g. Financial or Employment</a>
                                </h4>
                            </div>
                            <div id="collapseNine" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!-- 9.1 Letter of Enrolment-->

                                    <!-- 9.2 Reference from an Employer-->

                                    <!-- 9.3 Bank Statement-->

                                    <!-- 9.4 Utility Bill-->
                                    <form class="form-group">
                                        <label class="block-label" for="checkbox-50">
                                            <input id="checkbox-50" type="checkbox" value="1">
                                            Letter of Enrolment
                                        </label>
                                        <label class="block-label" for="checkbox-51">
                                            <input id="checkbox-51" type="checkbox" value="1">
                                            Reference from an Employer
                                        </label>
                                        <label class="block-label" for="checkbox-52">
                                            <input id="checkbox-52" type="checkbox" value="1">
                                            Bank Statement
                                        </label>
                                        <label class="block-label" for="checkbox-53">
                                            <input id="checkbox-53" type="checkbox" value="1">
                                             Utility Bill
                                        </label>
                                        <label class="block-label" for="checkbox-52-2">
                                            <input id="checkbox-52-2" type="checkbox" value="1">
                                            Letter from an Employer
                                        </label>
                                        <label class="block-label" for="checkbox-53-2">
                                            <input id="checkbox-53-2" type="checkbox" value="1">
                                            Letter of Invitation (to live in the UK)
                                        </label>
                                    </form>
                                </div>
                            </div>

                    </div>

                        <!-- 10. Pet Export -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse"  href="#collapseTen">Pet Export</a>
                                </h4>
                            </div>
                            <div id="collapseTen" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!-- 10.1 Pet Export Document from the Department of Environment, Food and Rural Affairs (DEFRA)-->
                                    <form class="form-group">
                                        <label class="block-label" for="checkbox-54">
                                            <input id="checkbox-54" type="checkbox" value="1">
                                            Pet Export Document from the Department of Environment, Food and Rural Affairs (DEFRA)
                                        </label>
                                    </form>

                                </div>
                            </div>
                        </div>

                        <!-- 11. Police Documents -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse"  href="#collapseEleven">Police Documents</a>
                                </h4>
                            </div>
                            <div id="collapseEleven" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!-- 11.1 ACRO Police Certificate -->

                                    <!-- 11.2 Criminal Records Bureau (CRB) Document -->

                                    <!-- 11.3 Criminal Records Check-->

                                    <!-- 11.4 Disclosure Scotland Document-->

                                    <!-- 11.5  Fingerprints Document-->

                                    <!-- 11.6  Police Disclosure Document-->
                                    <form class="form-group">
                                        <label class="block-label" for="checkbox-55">
                                            <input id="checkbox-55" type="checkbox" value="1">
                                            ACRO Police Certificate
                                        </label>
                                        <label class="block-label" for="checkbox-56">
                                            <input id="checkbox-56" type="checkbox" value="1">
                                            Criminal Records Bureau (CRB) Document
                                        </label>
                                        <label class="block-label" for="checkbox-57">
                                            <input id="checkbox-57" type="checkbox" value="1">
                                             Criminal Records Check
                                        </label>
                                        <label class="block-label" for="checkbox-58">
                                            <input id="checkbox-58" type="checkbox" value="1">
                                            Disclosure Scotland Document
                                        </label>
                                        <label class="block-label" for="checkbox-59">
                                            <input id="checkbox-59" type="checkbox" value="1">
                                            Fingerprints Document
                                        </label>
                                        <label class="block-label" for="checkbox-60">
                                            <input id="checkbox-60" type="checkbox" value="1">
                                            Police Disclosure Document
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- 12. Religious Document -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse"  href="#collapseTwelve">Religious Document</a>
                                </h4>
                            </div>
                            <div id="collapseTwelve" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <!-- 12.1 Baptism Certificate-->

                                    <!-- 11.2 Religious Document-->
                                    <form class="form-group">
                                        <label class="block-label" for="checkbox-61">
                                            <input id="checkbox-61" type="checkbox" value="1">
                                            Baptism Certificate
                                        </label>
                                        <label class="block-label" for="checkbox-62">
                                            <input id="checkbox-62" type="checkbox" value="1">
                                            Religious Document
                                        </label>
                                        <label class="block-label" for="checkbox-62-2">
                                            <input id="checkbox-62-2" type="checkbox" value="1">
                                            Marriage Certificate
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- 13. Translation -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse"  href="#collapseThirteen">Translation</a>
                                </h4>
                            </div>
                            <div id="collapseThirteen" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <form class="form-group">
                                        <label class="block-label" for="checkbox-63">
                                            <input id="checkbox-63" type="checkbox" value="1">
                                            Translation of a document
                                        </label>
                                    </form>
                            </div>
                        </div>
                    </div>

                        <!-- 14. Passport -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse"  href="#collapseFourteen">Passport</a>
                                </h4>
                            </div>
                            <div id="collapseFourteen" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <form class="form-group">
                                        <label class="block-label" for="checkbox-65">
                                            <input id="checkbox-65" type="checkbox" value="1">
                                            Passport
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <!-- 15. Driving Licence -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse"  href="#collapseFifteen">Driving Licence</a>
                                </h4>
                            </div>
                            <div id="collapseFifteen" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <form class="form-group">
                                        <label class="block-label" for="checkbox-66">
                                            <input id="checkbox-66" type="checkbox" value="1">
                                            Driving Licence
                                        </label>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <p class="text"><a href="eligibility_table">Having trouble navigating this page? Try table view.</a></p>
        </article>
    </div>

    <div class="form-group">
        <a  href="eligibility_doc_summary" class="big button">Continue</a>
        <p><a href="eligibility_full_nav" class="link-back">Back</a></p>
    </div>
  </main>

{{/content}}

{{/layout}}
