{{<layout}}

{{$pageTitle}}
Application Type
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}

    <div class="column-two-thirds">
        <div class="warning">
            <h2 class="heading-large">You need to certify your documents before submitting your application</h2>
        </div>

        <!-- Certifying Documents -->
        <h3 class="heading-medium">Certifying Documents</h3>
        <p>Certain documents must be certified in the UK by a solicitor or ‘notary public’ before they can be legalised.</p>
        <p>When the solicitor or notary public signs the document, they must:</p>
        <ul>
            <li>note the type of certification they have done (eg the document is a true copy of the original)</li>
            <li>use their personal signature, not a company signature</li>
            <li>include the date of certification</li>
            <li>include their company address</li>
        </ul>

        <p>If they add a notarial certificate, it must be attached to the document. The certificate must also  contain a specific reference to the document they have certified.</p>

        <p>If a notary public from England, Wales or Northern Ireland signs a document for legalisation, they must also stamp or emboss the document with their notarial seal.</p>

        <p>You can find:</p>
        <ul>
            <li><a rel="external" target="_blank" href="http://www.lawsociety.org.uk/home.law">solicitors in England and Wales</a></li>
            <li><a rel="external" target="_blank"  href="http://www.facultyoffice.org.uk/notary/find-a-notary/">notaries public in England and Wales</a></li>
            <li><a rel="external" target="_blank"  href="http://www.lawscot.org.uk/">solicitors and notaries public in Scotland</a></li>
            <li><a rel="external" target="_blank"  href="http://www.lawsoc-ni.org/">solicitors and notaries public in Northern Ireland</a></li>
        </ul>

<p>You may be able to get your document certified at a British embassy. <a rel="external" target="_blank" href="https://www.gov.uk/government/world/embassies">Check if this service is offered</a> in the country you’re in.</p>

        <p><a class="print link" href="javascript:window.print();">Print this page</a></p>

        <h3 class="heading-medium">What happens next?</h3>
        <p>Once you have certified all your documents, come back to this site and resubmit your application to get them legalised.</p>
<br>
        <div class="form-group">
            <label for="email" class="form-label-bold">Send this information to my email address (optional)</label>
            <span class="form-hint">We will send the information on this page to your email address</span>
            <input class="form-control" id="email" name="email" type="text">
            <div id="email_hint" style="display: none;"></div><a href="application_form_email_sent" class="button" style="margin-left:10px; margin-top: -4px;">Send</a>
        </div>

    </div>

    <div class="form-group">
        <p><a href="eligibility_is_certified" class="link-back">Back</a></p>
    </div>

  </main>

{{/content}}

{{/layout}}
