{% extends "layout.html" %}

{% block page_title %}
Document Eligibility
{% endblock %}

{% block content %}

<main id="content" role="main">
    {% include "includes/phase_banner_beta.html" %}

    <h1 class="heading-xlarge" style="margin-bottom: 30px!important;">Check if documents can be legalised</h1>

    <div class="article-container group">
        <article role="article" class="group">
            <div class="inner">
                <div id="eligibility"  style="float:left" class="intro">
                    <p>You can get a UK public document ‘legalised’ - this means a signature, seal or stamp made by a UK public official on the document is confirmed as genuine by the UK government.</p>
                    <p>Use this tool to check if your document can be legalised.</p>
                    <p class="get-started">
                    <p>Full Navigation Option</p>
                    <button class="big button" onclick="showCategories()">Check your documents</button>
                    </p>
                    <p class="get-started">
                    <p>List Option</p>
                    <a class="big button" href="eligibility_list">Check your documents</a>
                    </p>
                    <p class="get-started">
                    <p>List with Checkboxes Option</p>
                    <a class="big button" href="eligibility_list_checkboxes">Check your documents</a>
                    </p>
                    <p class="get-started">
                    <p>Tab Option</p>
                    <a class="big button" href="eligibility_tab">Check your documents</a>
                    </p>
                    <p class="get-started">
                    <p>Table Option</p>
                    <a class="big button" href="eligibility_table">Check your documents</a>
                    </p>
                    <p class="get-started">
                    <p>Search Option</p>
                    <a class="big button" href="eligibility_list_search">Check your documents</a>
                    </p>
                    <p class="get-started">
                    <p>A-Z Option</p>
                    <a class="big button" href="eligibility_a-z">Check your documents</a>
                    </p>

                    <p>Select several documents</p>
                    <a class="big button" href="eligibility_list_check_mydocuments">Check your documents</a>

                    <p class="get-started">
                    <p>Side Tabs Option</p>
                    <a class="big button" href="eligibility_side_tabs">Check your documents</a>
                    </p>

                    <p class="get-started">
                    <p>Eligibility with Filtering</p>
                    <a class="big button" href="eligibility_filters">Check your documents</a>
                    </p>

                    <p class="get-started">
                    <p>Eligibility with Filtering 2</p>
                    <a class="big button" href="eligibility_filters2">Check your documents</a>
                    </p>

                    <p class="get-started">
                    <p>Eligibility with Filtering 3 (add/remove pattern)</p>
                    <a class="big button" href="eligibility_filters3">Check your documents</a>
                    </p>
                    <p class="get-started">
                    <p>Eligibility with Filtering 4 (with remove links)</p>
                    <a class="big button" href="eligibility_filters4">Check your documents</a>
                    </p>
                    <p class="get-started">
                    <p>Eligibility with Filtering 5 (with selected docs at top and bottom)</p>
                    <a class="big button" href="eligibility_filters5">Check your documents</a>
                    </p>
                    <p class="get-started">
                    <p>Eligibility with Filtering 6 (with categories from dropdown )</p>
                    <a class="big button" href="eligibility_filters6">Check your documents</a>
                    </p>
                </div>

                <div id="documents" style="float:right"></div>

                <div id="selected_Document"></div>



                    <div class="form-group">
                        <p>Or if you know your documents can be legalised you can <a href="application_form_personal_details">Skip this check</a></p>
                        <p><a href="application_form_type" class="link-back">Back to choose service</a></p>
                    </div>
  </main>

{% endblock %}


