{{<layout}}

{{$pageTitle}}
Application Type
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}


    <h1 class="heading-xlarge" style="margin-bottom: 10px;">Check if documents can be legalised</h1>
    <!-- Birth certificate -->
    <div class="column-two-thirds">

        {{#acro}}
            {{>partials\acro}}
        {{/acro}}


        {{#affidavit}}
            {{>partials\affidavit}}
        {{/affidavit}}


        {{#association}}
            {{>partials\association}}
        {{/association}}

        {{#bank}}
            {{>partials\bank}}
        {{/bank}}

        {{#baptism}}
            {{>partials\baptism}}
        {{/baptism}}

        {{#birth}}
             {{>partials\birth_certificate}}
        {{/birth}}

        {{#incorporation}}
            {{>partials\incorporation}}
        {{/incorporation}}

        {{#freesale}}
             {{>partials\freesale}}
        {{/freesale}}

        {{#memorandum}}
             {{>partials\memorandum}}
        {{/memorandum}}

        {{#naturalisation}}
             {{>partials\naturalisation}}
        {{/naturalisation}}


        {{#impediment}}
             {{>partials\impediment}}
        {{/impediment}}

        {{#chamber_of_commerce}}
             {{>partials\chamber_of_commerce}}
        {{/chamber_of_commerce}}

        {{#change_of_name}}
             {{>partials\change_of_name}}
        {{/change_of_name}}

        {{#civil_partnership}}
             {{>partials\civil_partnership}}
        {{/civil_partnership}}

        {{#house}}
             {{>partials\house}}
        {{/house}}

        {{#conversion}}
             {{>partials\conversion}}
        {{/conversion}}

        {{#coroners}}
             {{>partials\coroners}}
        {{/coroners}}

        {{#county_court}}
             {{>partials\county_court}}
        {{/county_court}}

        {{#court}}
             {{>partials\court}}
        {{/court}}

        {{#bankruptcy}}
             {{>partials\bankruptcy}}
        {{/bankruptcy}}

        {{#crb}}
             {{>partials\crb}}
        {{/crb}}

        {{#criminal}}
             {{>partials\criminal}}
        {{/criminal}}


        {{#cremation}}
             {{>partials\cremation}}
        {{/cremation}}


        {{#death}}
             {{>partials\death}}
        {{/death}}


        {{#absolute}}
             {{>partials\absolute}}
        {{/absolute}}


        {{#nisi}}
             {{>partials\nisi}}
        {{/nisi}}

        {{#degree}}
            {{>partials\degree_certificate}}
        {{/degree}}

        {{#bis}}
            {{>partials\bis}}
        {{/bis}}


        {{#health}}
            {{>partials\health}}
        {{/health}}


        {{#diploma}}
            {{>partials\diploma}}
        {{/diploma}}


        {{#disclosure}}
            {{>partials\disclosure}}
        {{/disclosure}}


        {{#doctor_letter}}
            {{>partials\doctor_letter}}
        {{/doctor_letter}}


        {{#driving}}
            {{>partials\driving}}
        {{/driving}}


        {{#education}}
            {{>partials\education}}
        {{/education}}


        {{#family}}
            {{>partials\family}}
        {{/family}}


        {{#fingerprints}}
            {{>partials\fingerprints}}
        {{/fingerprints}}


        {{#fit}}
            {{>partials\fit}}
        {{/fit}}

        {{#government}}
            {{>partials\government}}
        {{/government}}


        {{#grant}}
            {{>partials\grant}}
        {{/grant}}


        {{#high_court}}
            {{>partials\high_court}}
        {{/high_court}}


        {{#hmrc}}
            {{>partials\hmrc}}
        {{/hmrc}}

        {{#home_office}}
            {{>partials\home_office}}
        {{/home_office}}


        {{#testament}}
            {{>partials\testament}}
        {{/testament}}


        {{#employer_letter}}
            {{>partials\employer_letter}}
        {{/employer_letter}}


        {{#enrolment}}
            {{>partials\enrolment}}
        {{/enrolment}}


        {{#invitation}}
            {{>partials\invitation}}
        {{/invitation}}


        {{#no_trace}}
            {{>partials\no_trace}}
        {{/no_trace}}

        {{#marriage}}
            {{>partials\marriage}}
        {{/marriage}}

        {{#med_report}}
            {{>partials\med_report}}
        {{/med_report}}

        {{#test_results}}
            {{>partials\test_results}}
        {{/test_results}}

        {{#name_change}}
            {{>partials\name_change}}
        {{/name_change}}

        {{#passport}}
            {{>partials\passport}}
        {{/passport}}

        {{#defra}}
            {{>partials\defra}}
        {{/defra}}

        {{#police}}
            {{>partials\police}}
        {{/police}}

        {{#attorney}}
            {{>partials\attorney}}
        {{/attorney}}

        {{#probate}}
            {{>partials\probate}}
        {{/probate}}

        {{#reference}}
            {{>partials\reference}}
        {{/reference}}

        {{#religious}}
            {{>partials\religious}}
        {{/religious}}


        {{#school}}
            {{>partials\school}}
        {{/school}}


        {{#sheriff}}
            {{>partials\sheriff}}
        {{/sheriff}}


        {{#sick_note}}
            {{>partials\sick_note}}
        {{/sick_note}}


        {{#statutory}}
            {{>partials\statutory}}
        {{/statutory}}


        {{#utility}}
            {{>partials\utility}}
        {{/utility}}


        {{#translation}}
            {{>partials\translation}}
        {{/translation}}

        <div class="form-group">
            <a href="eligibility_is_certified" class="button">Continue</a>
            <p><a href="eligibility_filters" class="link-back">Back</a></p>
        </div>

    </div>

  </main>

{{/content}}

{{/layout}}
