{{<layout}}

{{$pageTitle}}
Get a document legalised
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}
    <h1 class="heading-xlarge">Your document is eligible</h1>

    <div class="article-container group">
        <article role="article" class="group">
            <div class="inner">
                <div class="intro">
                    <p>You can proceed with application</p>
                    <p>or</p>
                    <p><a href="eligibility_full_nav" class="link-back">Check another document</a></p>



                    <div class="form-group">
                        <a href="application_form_personal_details" class="button">Continue</a>
                        <p><a href="application_form_type" class="link-back">Back</a></p>
                    </div>


  </main>

{{/content}}

{{/layout}}
