{{<layout}}

{{$pageTitle}}
Application Type
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}
    <p><a href="eligibility_filters3_nocategories" class="back-to-previous">Back</a></p>


    <h1 class="heading-xlarge" style="margin-bottom: 10px;">Confirm your documents are eligible</h1>

    <div class="column-two-thirds">

        <!-- Birth certificate -->
        <h3 class="heading-medium">Birth certificate</h3>
        <p>Your birth certificate can be legalised.</p>
        <p>We can only accept the document in the following format. Please confirm that you will send us:</p>

        <form class="form-group">
            <label class="block-label" for="checkbox-1">
                <input id="checkbox-1" type="checkbox" value="1">
                The original birth certificate signed by the Registrar OR with the official seal of Registry Office
            </label>
        </form>

        <!-- Degree Certificate -->
        <h3 class="heading-medium">Degree certificate or transcript (UK)</h3>
        <p>Your degree certificate can be legalised if it has been awarded by a <a rel="external" target="_blank" href="https://www.gov.uk/check-a-university-is-officially-recognised">recognised body</a>.</p>
        <p>We accept the document in the following formats. Please confirm which one you will send us:</p>

        <form>
            <fieldset>
                <div class="form-group form-group-compound">
                    <label class="block-label"  for="radio-indent-1">
                        <input id="radio-indent-1" type="radio" name="radio-indent-group" value="Business">
                        Your original degree certificate or transcript
                    </label>
                    <label class="block-label"  for="radio-indent-2">
                        <input id="radio-indent-2" type="radio" name="radio-indent-group" value="Business Premium">
                        A photocopy of your degree certificate or transcript
                    </label>
                </div>
            </fieldset>
        </form>

        <div class="form-group">
            <a href="eligibility_is_certified" class="button">Continue</a>
        </div>

    </div>


  </main>

{{/content}}

{{/layout}}
