

<!-- BootStrap- ONLY FOR THIS PAGE-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

{{<layout}}

{{$pageTitle}}
Document Eligibility
{{/pageTitle}}

{{$content}}

<main id="content" role="main">
    {{>pagehead}}
    <h1 class="heading-xlarge">Select your documents</h1>

    <div class="article-container group">
        <article role="article" class="group">
            <div class="inner">
                <div class="intro column-two-thirds">
                    <p>Select all of the documents you want legalised</p>
                </div>

                <div class="intro" style="clear:both;">
                       <div id="tabsNO">
                      <!--   <ul>
                            <li><a href="#tabs-1">A-Z</a></li>
                            <li><a href="#tabs-2">Categories</a></li>
                        </ul> -->
            
                        
                        <div id="tabs-1">

                            <form id="search-form">
                                <label for="search-main" class="visuallyhidden"></label>
                                <input type="search" name="q" id="search-main" title="Search" class="form-control-3-4">
                                <input class="submit" type="submit" value="Search">
                            </form>

                            <div id="results">
                                <form class="form-group">
                                <label class="block-label" for="checkbox2-55">
                                    <input id="checkbox2-55" type="checkbox" value="1">
                                    ACRO Police Certificate
                                </label>
                                <label class="block-label"  for="checkbox2-34">
                                    <input id="checkbox2-34" type="checkbox" value="0" name="checkbox2-indent-group">
                                    Affidavit
                                </label>
                                <label class="block-label"  for="checkbox2-1">
                                    <input id="checkbox2-1" type="checkbox" value="0">
                                    Articles of association
                                </label>
                                <label class="block-label" for="checkbox2-52">
                                    <input id="checkbox2-52" type="checkbox" value="1">
                                    Bank Statement
                                </label>
                                <label class="block-label" for="checkbox2-61">
                                    <input id="checkbox2-61" type="checkbox" value="1">
                                    Baptism Certificate
                                </label>
                                <label class="block-label" for="checkbox2-23">
                                    <input id="checkbox2-23" type="checkbox" value="1">
                                    Birth Certificate
                                </label>
                                <label class="block-label"  for="checkbox2-2">
                                    <input id="checkbox2-2" type="checkbox" value="1">
                                    Chamber of Commerce
                                </label>
                                <label class="block-label" for="checkbox2-3">
                                    <input id="checkbox2-3" type="checkbox" value="2">
                                    Certificate of Incorporation
                                </label>
                                <label class="block-label" for="checkbox2-64">
                                    <input id="checkbox2-64" type="checkbox" value="2">
                                    Certificate of Freesale
                                </label>
                                <label class="block-label" for="checkbox2-4">
                                    <input id="checkbox2-4" type="checkbox" value="3">
                                    Certificate of Memorandum
                                </label>
                                <label class="block-label" for="checkbox2-29">
                                    <input id="checkbox2-29" type="checkbox" value="1">
                                    Certificate of Naturalisation
                                </label>
                                <label class="block-label" for="checkbox2-30">
                                    <input id="checkbox2-30" type="checkbox" value="1">
                                    Certificate of No Impediment
                                </label>
                                <label class="block-label" for="checkbox2-38">
                                    <input id="checkbox2-38" type="checkbox" value="4" name="checkbox2-indent-group">
                                    Change of Name Deed
                                </label>
                                <label class="block-label" for="checkbox2-24">
                                    <input id="checkbox2-24" type="checkbox" value="1">
                                    Civil Partnership Certificate
                                </label>
                                <label class="block-label" for="checkbox2-5">
                                    <input id="checkbox2-5" type="checkbox" value="4">
                                    Companies House Document
                                </label>
                                <label class="block-label" for="checkbox2-25">
                                    <input id="checkbox2-25" type="checkbox" value="1">
                                    Conversion of Civil Partnership to Marriage Certificate
                                </label>
                                <label class="block-label" for="checkbox2-26">
                                    <input id="checkbox2-26" type="checkbox" value="1">
                                    Coroners Report
                                </label>
                                <label class="block-label" for="checkbox2-7">
                                    <input id="checkbox2-7" type="checkbox" value="0">
                                    County Court Document
                                </label>
                                <label class="block-label" for="checkbox2-8">
                                    <input id="checkbox2-8" type="checkbox" value="1">
                                    Court Document
                                </label>
                                <label class="block-label" for="checkbox2-9">
                                    <input id="checkbox2-9" type="checkbox" value="2">
                                    Court of Bankruptcy Document
                                </label>
                                <label class="block-label" for="checkbox2-56">
                                    <input id="checkbox2-56" type="checkbox" value="1">
                                    Criminal Records Bureau (CRB) Document
                                </label>
                                <label class="block-label" for="checkbox2-57">
                                    <input id="checkbox2-57" type="checkbox" value="1">
                                    Criminal Records Check
                                </label>
                                <label class="block-label" for="checkbox2-28-2">
                                    <input id="checkbox2-28-2" type="checkbox" value="1">
                                    Cremation Certificate
                                </label>
                                <label class="block-label" for="checkbox2-27">
                                    <input id="checkbox2-27" type="checkbox" value="1">
                                    Death Certificate
                                </label>
                                <label class="block-label" for="checkbox2-10">
                                    <input id="checkbox2-10" type="checkbox" value="3">
                                    Decree Absolute
                                </label>
                                <label class="block-label" for="checkbox2-11">
                                    <input id="checkbox2-11" type="checkbox" value="4">
                                    Decree Nisi
                                </label>
                                <label class="block-label" for="checkbox2-17">
                                    <input id="checkbox2-17" type="checkbox" value="1">
                                    Degree Certificate or Transcript (UK)
                                </label>
                                <label class="block-label" for="checkbox2-6">
                                    <input id="checkbox2-6" type="checkbox" value="5">
                                    Department of Business, Innovation and Skills (BIS) Document
                                </label>
                                <label class="block-label" for="checkbox2-22">
                                    <input id="checkbox2-22" type="checkbox" value="1">
                                    Department of Health Document
                                </label>
                                <label class="block-label" for="checkbox2-18">
                                    <input id="checkbox2-18" type="checkbox" value="1">
                                    Diploma
                                </label>
                                <label class="block-label" for="checkbox2-58">
                                    <input id="checkbox2-58" type="checkbox" value="1">
                                    Disclosure Scotland Document
                                </label>
                                <label class="block-label"  for="checkbox2-45">
                                    <input id="checkbox2-45" type="checkbox" value="0" name="checkbox2-indent-group">
                                    Doctor’s Letter
                                </label>
                                <label class="block-label" for="checkbox2-31">
                                    <input id="checkbox2-31" type="checkbox" value="1">
                                    Driving Licence (Copy)
                                </label>
                                <label class="block-label" for="checkbox2-19">
                                    <input id="checkbox2-19" type="checkbox" value="1">
                                    Educational Certificate (UK)
                                </label>
                                <label class="block-label" for="checkbox2-12">
                                    <input id="checkbox2-12" type="checkbox" value="5">
                                    Family Division of the High Court of Justice Document
                                </label>
                                <label class="block-label" for="checkbox2-59">
                                    <input id="checkbox2-59" type="checkbox" value="1">
                                    Fingerprints Document
                                </label>
                                <label class="block-label"  for="checkbox2-46">
                                    <input id="checkbox2-46" type="checkbox" value="1" name="checkbox2-indent-group">
                                    Fit Note
                                </label>
                                <label class="block-label" for="checkbox2-21-2">
                                    <input id="checkbox2-21-2" type="checkbox" value="1">
                                    Government Issued Document
                                </label>
                                <label class="block-label" for="checkbox2-13">
                                    <input id="checkbox2-13" type="checkbox" value="6">
                                    Grant of Probate
                                </label>
                                <label class="block-label" for="checkbox2-14">
                                    <input id="checkbox2-14" type="checkbox" value="8">
                                    High Court of Justice Document
                                </label>
                                <label class="block-label" for="checkbox2-22-2">
                                    <input id="checkbox2-22-2" type="checkbox" value="1">
                                    HM Revenue and Customs (HMRC) Document
                                </label>
                                <label class="block-label" for="checkbox2-21">
                                    <input id="checkbox2-21" type="checkbox" value="1">
                                    Home Office Document
                                </label>
                                <label class="block-label" for="checkbox2-41">
                                    <input id="checkbox2-41" type="checkbox" value="5" name="checkbox2-indent-group">
                                    Last Will and Testament
                                </label>
                                <label class="block-label" for="checkbox2-52-2">
                                    <input id="checkbox2-52-2" type="checkbox" value="1">
                                    Letter from an Employer
                                </label>
                                <label class="block-label" for="checkbox2-50">
                                    <input id="checkbox2-50" type="checkbox" value="1">
                                    Letter of Enrolment
                                </label>
                                <label class="block-label" for="checkbox2-53-2">
                                    <input id="checkbox2-53-2" type="checkbox" value="1">
                                    Letter of Invitation (to live in the UK)
                                </label>
                                <label class="block-label" for="checkbox2-32">
                                    <input id="checkbox2-32" type="checkbox" value="1">
                                    Letter of No Trace
                                </label>
                                <label class="block-label" for="checkbox2-28">
                                    <input id="checkbox2-28" type="checkbox" value="1">
                                    Marriage Certificate
                                </label>
                                <label class="block-label" for="checkbox2-47">
                                    <input id="checkbox2-47" type="checkbox" value="2" name="checkbox2-indent-group">
                                    Medical Report
                                </label>
                                <label class="block-label" for="checkbox2-48">
                                    <input id="checkbox2-48" type="checkbox" value="3" name="checkbox2-indent-group">
                                    Medical Test Results
                                </label>
                                <label class="block-label" for="checkbox2-42">
                                    <input id="checkbox2-42" type="checkbox" value="5" name="checkbox2-indent-group">
                                    Name Change Deed or Document
                                </label>
                                <label class="block-label" for="checkbox2-33">
                                    <input id="checkbox2-33" type="checkbox" value="1">
                                    Passport
                                </label>
                                <label class="block-label" for="checkbox2-54">
                                    <input id="checkbox2-54" type="checkbox" value="1">
                                    Pet Export Document from the Department of Environment, Food and Rural Affairs (DEFRA)
                                </label>
                                <label class="block-label" for="checkbox2-60">
                                    <input id="checkbox2-60" type="checkbox" value="1">
                                    Police Disclosure Document
                                </label>
                                <label class="block-label" for="checkbox2-43">
                                    <input id="checkbox2-43" type="checkbox" value="5" name="checkbox2-indent-group">
                                    Power of Attorney
                                </label>
                                <label class="block-label" for="checkbox2-15">
                                    <input id="checkbox2-15" type="checkbox" value="9">
                                    Probate
                                </label>
                                <label class="block-label" for="checkbox2-51">
                                    <input id="checkbox2-51" type="checkbox" value="1">
                                    Reference from an Employer
                                </label>
                                <label class="block-label" for="checkbox2-62">
                                    <input id="checkbox2-62" type="checkbox" value="1">
                                    Religious Document
                                </label>
                                <label class="block-label" for="checkbox2-20">
                                    <input id="checkbox2-20" type="checkbox" value="1">
                                    School Document
                                </label>
                                <label class="block-label" for="checkbox2-16">
                                    <input id="checkbox2-16" type="checkbox" value="10">
                                    Sheriff Court Document
                                </label>
                                <label class="block-label" for="checkbox2-49">
                                    <input id="checkbox2-49" type="checkbox" value="4" name="checkbox2-indent-group">
                                    Sick Note
                                </label>
                                <label class="block-label" for="checkbox2-44">
                                    <input id="checkbox2-44" type="checkbox" value="5" name="checkbox2-indent-group">
                                    Statutory Declaration
                                </label>
                                <label class="block-label" for="checkbox2-53">
                                    <input id="checkbox2-53" type="checkbox" value="1">
                                    Utility Bill
                                </label>
                                <label class="block-label" for="checkbox2-63">
                                    <input id="checkbox2-63" type="checkbox" value="1">
                                    Translation of a document
                                </label>
                    <table>
                    <tr category="personal"  search="Bank Statement">
                       <th>Bank Statement</th>
                       <th><a class="button add" >Add</a>
                           <a class="button remove js-hidden" >Remove</a>
                       </th>
                   </tr>
                   </table>
                            </form>
                            </div>
                        </div>
                     </div>
                     
                     
                     
                     
                </div>

            </div>
        </article>
    </div>

    <div class="form-group">
        <a  href="eligibility_doc_summary_old" class="big button">Continue</a>
        <p><a href="application_form_type" class="link-back">Back</a></p>
    </div>
  </main>

{{/content}}

{{/layout}}

<script src="/public/javascripts/jquery-ui.js"></script>