{% extends "layout.html" %}

{% block page_title %}
  Legalisation prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Legalisation prototype</h1>

      <p>
        This app uses the GOV.UK prototype kit for designing and testing changes to the legalisation service
      </p>


      <h2 class="heading-medium">Legalisation links</h2>

			<ul class="list list-bullet">
				<li><a href="start">Start application  - full journey rebuild in progress</a></li>
				<li><a href="additional-payments">Additional payments standalone version</a></li>
				<li><a href="session-test-inputs">Session tests</a></li>
				<li><a href="postage-return-index">Postage return options (UK)</a></li>			
				<li><a href="register">Registration with further business info</a></li>
				<li><a href="premium_number_documents">Premium page with eligibility checker links</a></li>
				<li><a href="addresses_sameordifferent">Same or different new design, application flow</a></li>
				<li><a href="addresses_application">Saved addresses compact design, application flow</a></li>
				<li><a href="addresses_account">Saved addresses compact design, account pages</a></li>
				<li><a href="maintenance">Maintenance page</a></li>


			</ul>

    <h2 class="heading-medium">Verify apostille links</h2>

			<ul class="list list-bullet">
				<li><a href="verify-apostille-fields">Example field formats</a></li>
			</ul>

			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="/docs/">Example pages and patterns</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit/tree/master/docs">
						Read the full documentation</a></li>
			</ul>


    </div>
  </div>
</main>

{% endblock %}


