{% extends "layout.html" %}

{% block page_title %}
  Legalisation prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Postage return options</h1>

    
   			<ul class="list list-bullet">
				<li><a href="postage-return-options">Version 1</a></li>	
				<li><a href="postage-return-options2">Version 2</a></li>
        <li><a href="postage-return-options3">Version 3</a></li> 			
        <li><a href="postage-return-options4">Version 4</a></li> 
        <li><a href="postage-return-options5">Version 5 - Becky v1 graphic</a></li>    
         
			</ul>



    </div>
  </div>
</main>

{% endblock %}


