{% extends "layout.html" %}

{% block page_title %}
  Legalisation prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Postage return options</h1>

    
   			<ul class="list list-bullet">
				<li><a href="postage-return-options">Option 1</a></li>	
				<li><a href="postage-return-options2">Option 2</a></li>			

			</ul>



    </div>
  </div>
</main>

{% endblock %}


