{% extends "layout.html" %}

{% block page_title %}
  Your documents
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}


<h1 class="heading-xlarge">Your documents</h1>

 <label class="form-label-bold" for="documentCount">Type of documents</label>
 <a href="">Check if your documents can be legalised</a> and in which format before applying
<br><br>

<div class="form-group">

    <form id="document-count-form" action="/business-add-document-quantity" method="post" >
        <div class="form-group">
            <div class="" id="legend_document_count">
                <label class="form-label-bold" for="documentCount">Number of documents</label>
                How many documents do you want to legalise?
                <fieldset>
                    <input type="number" aria-required="true" step="any"
                           
                           id="documentCount" name="documentCount"
                           value=""
                           class="number"/>
                </fieldset>
            </div>
            <script>var documentCost=75;</script>
            <p>Each document costs £75</p>
            <p id="total-row" class="hide heading-small" >
                Cost to legalise documents: <span id="cost">0</span></p>
        </div>
        <input type="submit"  id='NextBtn' class="button" value="Continue" />

    </form>


</div>




</main>

{% endblock %}
