{% extends "layout.html" %}

{% block page_title %}
  Legalisation prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">Choose a service</h1>


<!-- Uncomment for business drop-off

        <h2 class="heading-medium">Business drop-off service</h2>
        <ul>
            <li>£30 per document</li>
            <li>Milton Keynes drop-off and collection only</li>
            <li>overnight service</li>
            <li>the counter opens on working days from 1pm to 2pm</li>

        </ul>
        <a class="application-option  button-secondary button" id="dropoff-service" href="/new-application?app_type_group=3">Start a business drop-off application</a>

-->


        <h2 class="heading-medium nomargintop">Standard service</h2>
        <ul class="list list-bullet">
            <li>£30 per document</li>
            <li>documents sent and returned by post</li>
            <li>normally 2 working days turnaround, excluding postage times</li>
            <li>applications during peak periods around Easter and summer can take up to 10 days</li>
        </ul>

        <div class="panel panel-border-wide">
  <p>
    We're now in a peak period so postal applications will take longer than normal
  </p>
</div>

        <p>If you're a regular customer you can <a href="register" class="create-account-link">create an account</a> to speed up your applications (optional).</p>
       

        <a class="application-option button-secondary button" id="standard-service" href="choose-documents-or-skip">Start a standard application</a>




        <h2 class="heading-medium nomargintop">Premium service</h2>
        <ul class="list list-bullet">
            <li>for businesses only</li>
            <li>£75 per document</li>
            <li>London drop-off and collection only</li>
            <li>same-day service for applications received before 3:30pm</li>
            <li>the counter opens on working days, 9am to 12:30pm and 1:30pm to 5pm</li>

        </ul>
        
        <p>To use the premium service you need to <a href="register" class="create-account-link">create an account</a>. You'll be asked to provide company details.</p>
        
        <a class="application-option button-secondary button" id="premium-service" href="premium_number_documents">Start a premium application</a>




    </div>
  </div>
</main>

{% endblock %}


