{% extends "layout.html" %}

{% block page_title %}
  Legalisation prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">


<h1 class="heading-xlarge" id="select-your-documents">Select all your documents</h1>

{% include "includes/document-checker-search.html" %}


<div class="filtering">
    

</div>


<!-- basket and continue section

<div class="follow-scroll" id="shopping_basket_container">
    <div id="shopping_basket" class="filter-form document-basket hide">
 
        <table class="no-js-basket" id="basket-table">
            <caption class="visually-hidden">Your selected documents</caption>
            <thead>
            <tr class="container-head">
                <th>Selected documents</th>
                <th> <span style="float:left;">Quantity <span id="selected-count-table1" aria-hidden="true">(undefined)</span></span></th>
            </tr>
            </thead>
            <tbody>
            
            
            </tbody>
        </table>


</div>


</div>

<form action="/confirm-documents" id="yourDocuments" method="post" class="column-two-thirds">
    <div class="form-group">
        <input type="submit"  id='NextBtn' class="button hide" value="Continue"  />

    </div>
</form>


end basket and continue section -->



    </div>
  </div>
</main>

{% endblock %}





