{% extends "layout.html" %}

{% block page_title %}
  Legalisation prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">


<h1 class="heading-xlarge" id="select-your-documents">Select all your documents</h1>


<!-- Search field -->
<form id="documentFilter" action="/select-documents" method="get">
    <p>Find <span class="visually-hidden">your documents or click one of the top searches below</span> then select all of the documents you want to legalise</p>
    

  <div>
    <div id="doc-seach-typeahead">

        <label class="visually-hidden" for="doc_search_field">Document search</label>
        <input
            class="typeahead"
            type="search"
            id="doc_search_field"
            value=""
            name="searchTerm"
            placeholder="Search for a document"
            autocomplete="off"
            role="combobox"
            aria-autocomplete="list"
            >
        <input type="submit" id="doc_search_button" value="Search" class="button" />
    </div>
  </div>

</form>

<form action="/select-documents" method="post" class="document-search-top-searches" id="document-search-top-searches">

    <div class="top-searches">
        <h2 class="floatleft" style="margin-right: 5px;">Top searches:  </h2>
        <a href="?searchTerm=degree%20certificate"><span class="visually-hidden">search for</span> degree certificate</a>,
        <a href="?searchTerm=birth%20certificate"><span class="visually-hidden">search for</span>birth certificate</a>,
        <a href="?searchTerm=divorce%20document"><span class="visually-hidden">search for</span>divorce document</a>,
        <a href="?searchTerm=court%20document"><span class="visually-hidden">search for</span>court document</a>,
        <a href="?searchTerm=companies%20house%20document"><span class="visually-hidden">search for</span>Companies House document</a>,
        <a href="?searchTerm=certificate%20of%20incorporation"><span class="visually-hidden">search for</span>certificate of incorporation</a>
    </div>

</form>
<div class="filtering">
    

</div>


<!-- basket and continue section

<div class="follow-scroll" id="shopping_basket_container">
    <div id="shopping_basket" class="filter-form document-basket hide">
 
        <table class="no-js-basket" id="basket-table">
            <caption class="visually-hidden">Your selected documents</caption>
            <thead>
            <tr class="container-head">
                <th>Selected documents</th>
                <th> <span style="float:left;">Quantity <span id="selected-count-table1" aria-hidden="true">(undefined)</span></span></th>
            </tr>
            </thead>
            <tbody>
            
            
            </tbody>
        </table>


</div>


</div>

<form action="/confirm-documents" id="yourDocuments" method="post" class="column-two-thirds">
    <div class="form-group">
        <input type="submit"  id='NextBtn' class="button hide" value="Continue"  />

    </div>
</form>


end basket and continue section -->



    </div>
  </div>
</main>

{% endblock %}





