{% extends "layout.html" %}

{% block page_title %}
  Legalisation prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

<h1 class="heading-xlarge">Non-UK branch</h1>

From the session after a branch redirect, no query string present: <Br><br>


First name? {{ first_name }} <br>
Last name? {{ last_name }} <br>
Tel (hidden input)? {{ telephone }} <br>
Email (hidden input)? {{ email }} <br>


    </div>
  </div>
</main>

{% endblock %}