{% extends "layout.html" %}

{% block page_title %}
  Legalisation prototype
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">Get your document legalised</h1>

 <div class="article-container group">
    
    <div class="content-block">
      <div class="inner">
        
  <section class="intro">
    <div class="get-started-intro">
<p>You can get certain official UK documents ‘legalised’ by asking the Legalisation Office to confirm that the signature, stamp or seal is from a UK public official.</p>

<p>You might need to do this if an official in another country has asked you to provide a UK document and they’ve said it must be legalised.</p>

<p>The Legalisation Office will check the signature, stamp or seal. If it’s genuine, they’ll legalise the document by attaching a stamped official certificate (an ‘apostille’) to it.</p>

<p>You can’t get documents issued outside the UK legalised using this service - get them legalised in the country they were issued.</p>

<h2 class="heading-medium">What you’ll need</h2>

<p>To use the service you’ll need:</p>

<ul class="list-bullet">
  <li>the documents you want to legalise</li>
  <li>a credit or debit card for payment</li>
  <li>the address you want your documents returned to</li>
  <li>access to a printer</li>
</ul>

<p>If you don’t enter any information for more than 30 minutes, your application will time out and you’ll have to start again.</p>
</div>
    <p id="get-started" class="get-started group">
      <a href="select-service" rel="external" data-transaction-slug="get-document-legalised" class="button button-get-started" role="button">Start now</a>
    </p>
  </section>

  <section class="more">
      
  <div id="what-you-need-to-know">
    <h2 class="heading-medium">What you need to know</h2>
    <h2 class="heading-medium">What it costs</h2>

<p>The standard service costs £30 per document, plus courier fees or postage.</p>

<p>Your documents will be returned by courier.</p>

<p>If you’re in the UK and don’t want your documents returned by courier, include an A4-sized stamped addressed envelope.</p>

<h3 class="heading-small">Courier costs</h3>

<table>
  <thead>
    <tr>
      <th>Country</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>UK (including British Forces Post Office)</td>
      <td>£5.50</td>
    </tr>
    <tr>
      <td>European countries (not including Albania, Armenia, Azerbaijan, Belarus, Bosnia and Herzegovina, Georgia, Liechtenstein, Kazakhstan, Macedonia, Moldova, Montenegro, Russia, Serbia, Turkey and Ukraine)</td>
      <td>£14.50 per 500g</td>
    </tr>
    <tr>
      <td>Rest of the world</td>
      <td>£25 per 500g</td>
    </tr>
  </tbody>
</table>

<h2 class="heading-medium">How long it takes</h2>

<p>It normally takes 2 working days to process your documents using the standard service, plus courier or postage time. It currently takes up to 10 working days because of the high number of applications.</p>

<h2 class="heading-medium">Premium same-day business service</h2>

<p>The premium same-day business service costs £75 per document. Documents must be taken to and collected from the premium office in central London.</p>

<p>You need an account to use the premium service. <a rel="external" href="">Sign in</a> if you’re an existing user or <a rel="external" href="register">create an account.</a></p>

<h2 class="heading-medium">Contact the Legalisation Office</h2>

<p>Contact the Legalisation Office if you need help with your application.</p>

<div class="contact">
<p><strong>Legalisation Office</strong>
<br>
<a href="mailto:legalisationenquiries@fco.gsi.gov.uk">legalisationenquiries@fco.gsi.gov.uk</a> <br>
Telephone: 03700 00 22 44<br>
Monday to Friday, midday to 4pm<br>
<a href="/call-charges">Find out about call charges</a></p>
</div>


  </div>


  </section>


      </div>
    </div>


<!--
<div class="related-container">
  <aside class="govuk-related-items" role="complementary">
    <h2>
      Certificates, register offices, changes of name or gender
    </h2>
    <nav role="navigation">
      <ul>
          <li>
            <a href="/verify-apostille">
              Verify an Apostille
            </a>
          </li>
          <li class="related-items-more">
            <a href="/browse/births-deaths-marriages/register-offices">
              More
                <span class="visuallyhidden">
                  in
                  Certificates, register offices, changes of name or gender
                </span>
            </a>
          </li>
      </ul>
    </nav>
</aside>
</div>
-->
      

  </div>
</main>     




{% endblock %}


