{% extends "layout.html" %}

{% block page_title %}
  Get a document legalised
{% endblock %}

{% block content %}

<main id="content" role="main">
{% include "includes/phase_banner_beta.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

    <h1 class="heading-xlarge">Get your document legalised</h1>
            <div class="summary">
                <p>You get a UK public document ‘legalised’ by asking the UK government to confirm that a UK public official’s signature, seal or stamp on the document is genuine.</p>
            </div>

            <p>You might need to do this if a local authority abroad has asked you to provide a document and they’ve said it must be legalised.</p>

            <div class="panel panel-border-narrow">
                <p>We will legalise your documents by issuing and applying an official certificate called an 'apostille'.</p>
            </div>

            <h2 class="heading-large">What you will need</h2>
            <p>To complete the online application you will need:</p>
            <ul class="list-bullet">
                <li>the documents you want legalised</li>
                <li>access to a printer</li>
                <li>return address details</li>
                <li>a credit or debit card for payment</li>
            </ul>

<p>If you don’t enter any information for more than 30 minutes, your application will time out and you’ll have to start again.</p>
            <a href="application_form_type" class="button button-get-started" role="button">Start now</a>


            <h2 class="heading-large">What it costs</h2>

            <p>It costs £30 per document, plus the cost of the postage to return your documents by courier. This is:</p>

            <ul class="list-bullet">
                <li>£5.50 in the UK (including British Forces Post Office)</li>
                <li>£14.50 per 500g in Europe (not including Albania, Armenia, Azerbaijan, Belarus, Bosnia and Herzegovina, Georgia, Liechtenstein, Kazakhstan, Macedonia, Moldova, Montenegro, Russia, Serbia, Turkey and Ukraine)</li>
                <li>£25 per 500g in every other country</li>
            </ul>

            <p>Include an A4-sized pre-paid envelope if you’re in the UK and don’t want your documents returned by courier.</p>



            <h2 class="heading-large">How long it takes</h2>

            <p>It normally takes 48 hours to legalise your documents, plus courier or postage time. You’ll get an email if there’s a
                delay.</p>

            <div class="panel panel-border-narrow">
                <p>Businesses can register for the <a href="register.html">legalisation premium service</a>.</p>
            </div>



            <h2 class="heading-large">Contact the Legalisation Office</h2>

            <div class="contact">
                <p><a href="mailto:legalisationenquiries@fco.gsi.gov.uk">legalisationenquiries@fco.gsi.gov.uk</a> <br>
                    Telephone: 03700 00 22 44 <br>
                    Monday to Friday, midday to 4pm<br>
                    <a href="https://www.gov.uk/call-charges" rel="external"  target="_blank">Find out about call charges</a></p>
            </div>
        </div>
    </div>



  </main>

{% endblock %}


